// div > .h-btn:not(:last-child) {
//   margin-right: 5px;
// }

// div > .h-btn {
//   margin-top: 5px;
// }

// div > .switch-container:not(:last-child) {
//   margin-right: 5px;
// }

// .btnactive, .btnactive > .btn-icon, .btn.active:hover {
//   background-color: gray;
//   color: black;
// }

