/*
  BORDER SIDE
*/

.border
  border-width: 1px;
  border-style: solid;
  border-color: white;

.border-left
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: white;

.border-right
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: white;

.border-top
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: white;

.border-bottom
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;

/*
BORDER SIZE
*/

.border-1
  border-width: 1px;

.border-2
  border-width: 2px;

/*
BORDER TYPE
*/

.border-corner-rounded {
  border-radius: 5px;
}

.border-rounded {
  border-radius: 50px;
}

/*
BORDER STYLE
*/

.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed;

}
.border-solid {
  border-style: solid;
}

.border-double {
  border-style: double;
}

.border-groove {
  border-style: groove;
}

.border-ridge {
  border-style: ridge;
}

.border-inset {
  border-style: inset;
}

.border-outset {
  border-style: outset;
}

.no-border {
  border-style: none;
}

/*
  BORDER COLOR
*/

.border-white
  border-color $white

.border-black
  border-color $black

.border-primary
  border-color $primary

.border-secondary
  border-color $secondary

.border-positive
  border-color $positive

.border-negative
  border-color $negative

.border-info
  border-color $info

.border-warning
  border-color $warning

.border-gray
  border-color lightgray
