/*
  COLORS
*/

/*
  BACKGROUND COLOR
*/

.bg-transparent
  background-color transparent

.bg-white
  background-color $white

.bg-black
  background-color $black

.bg-primary
  background-color $primary

.bg-secondary
  background-color $secondary

.bg-positive
  background-color $positive

.bg-negative
  background-color $negative

.bg-info
  background-color $info

.bg-warning
  background-color $warning

.bg-gray
  background-color lightgray

/*
  BACKGROUND COLOR HOVER
*/

.bg-white:hover.btn, .bg-black:hover.btn,
.bg-white:hover.tab, .bg-black:hover.tab,
.bg-white:hover.menu-item, .bg-black:hover.menu-item,
.bg-white:hover.collapsible-item
  background-color $whitehover

.bg-primary:hover.btn, .bg-primary:hover.tab,
.bg-primary:hover.menu-item
.bg-primary:hover.collapsible-item
  background-color $primaryhover

.bg-secondary:hover.btn, .bg-secondary:hover.tab,
.bg-secondary:hover.menu-item,
.bg-secondary:hover.collapsible-item
  background-color $secondaryhover

.bg-positive:hover.btn, .bg-positive:hover.tab,
.bg-positive:hover.menu-item
.bg-positive:hover.collapsible-item
  background-color $positivehover

.bg-negative:hover.btn, .bg-negative:hover.tab,
.bg-negative:hover.menu-item
.bg-negative:hover.collapsible-item
  background-color: $negativehover

.bg-info:hover.btn, .bg-info:hover.tab,
.bg-info:hover.menu-item
.bg-info:hover.collapsible-item
  background-color $infohover

.bg-warning:hover.btn, .bg-info:hover.tab,
.bg-warning:hover.menu-item
.bg-warning:hover.collapsible-item
  background-color $warninghover

/*
  TEXT COLOR
*/

.text-white
  color $white

.text-black
  color $black

.text-primary
  color $primary

.text-secondary
  color $secondary

.text-positive
  color $positive

.text-negative
  color $negative

.text-info
  color $info

.text-warning
  color $warning

.text-gray
  color gray

/*
  BORDER COLOR
*/

.border-white
  border: 1px solid $white

.border-black
  border: 1px solid $black

.border-primary
  border: 1px solid $primary

.border-secondary
  border: 1px solid $secondary

.border-positive
  border: 1px solid $positive

.border-negative
  border: 1px solid $negative

.border-info
  border: 1px solid $info

.border-warning
  border: 1px solid $warning

.border-gray
  border: 1px solid gray

/*
  COMPONENTS
*/

/*
  TEXTFIELD
*/

$edit-controls-nofocus = gray

.input-container.noborder
  border  none

.input-container.primary.noborder
  border  none

.input-container.nofocus.noborder
  border  none

.input-container.primary
  border-bottom 2px solid $primary

.input-container.nofocus
  border-bottom 2px solid $edit-controls-nofocus

.control-label.primary
  color $primary

.control-label.nofocus
  color $edit-controls-nofocus

.static-label.nofocus
  color: #616161

.static-label.primary
  color black

.error-label
  color $negative
  font-size 12px
  font-weight bold

.helper-text
  color $edit-controls-nofocus
  font-size 12px

/*
  RADIO BUTTON
*/

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark.primary
  border-color $primary

.container input:checked ~ .checkmark.primary.disabled
  border-color lightgrey

/* Style the indicator (dot/circle) */
.container.primary .checkmark:after
  background $primary

.container.primary .checkmark.disabled:after
  background lightgrey

/*
  CHECKBOX
*/

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .primary
  background-color $primary
  border-color $primary

.container input:checked ~ .primary.disabled
  background-color white
  border-color $lightgrey

/*
  ACTIVE ITEM
*/

.bg-white.menu-item.active, .menu-item.active
    background-color $whitehover

.bg-modal
  background-color:  #F2F2F2


/*
  TEXT BUTTON COLOR
*/

.outlinedbtn
  background-color: none;
  border: 1px solid $textbtnhover

.outlinedbtn:hover
  background-color  $whitehover
  border: 1px solid $textbtnhover

/*
  ACTIVE TAB BORDER COLOR
*/

$activebordersize = 6px
$activeborderflatsize = 2px

.active-border-bottom-white
  border-bottom $activebordersize solid $white

.active-border-bottom-black
  border-bottom $activebordersize solid $black

.active-border-right-white
  border-right  $activebordersize solid $white

.active-border-right-black
  border-right  $activebordersize solid $black


/* Date Picker */
.btn.circle.activeday, .btn.circle.activehour,
.btn.circle.activemin
  background-color: $primary
  color: white

/*
TOGGLE
*/

input:checked + .slider {
  background-color: $primaryhover
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px)
  -ms-transform: translateX(20px)
  transform: translateX(20px)
  background-color: $primary
}
