.shadow-l {
  -webkit-box-shadow: -7px 0px 5px 0px rgba(209,209,209,1);
  -moz-box-shadow: -7px 0px 5px 0px rgba(209,209,209,1);
  box-shadow: -7px 0px 5px 0px rgba(209,209,209,1);
}

.shadow-lb {
  -webkit-box-shadow: -7px 7px 5px 0px rgba(209,209,209,1);
  -moz-box-shadow: -7px 7px 5px 0px rgba(209,209,209,1);
  box-shadow: -7px 7px 5px 0px rgba(209,209,209,1);
}

.shadow-b {
  -webkit-box-shadow: -1px 7px 5px 0px rgba(209,209,209,1);
  -moz-box-shadow: -1px 7px 5px 0px rgba(209,209,209,1);
  box-shadow: -1px 7px 5px 0px rgba(209,209,209,1);
}

.shadow-r {
  -webkit-box-shadow: 7px 0px 5px 0px rgba(209,209,209,1);
  -moz-box-shadow: 7px 0px 5px 0px rgba(209,209,209,1);
  box-shadow: 7px 0px 5px 0px rgba(209,209,209,1);
}

.shadow-rb {
  -webkit-box-shadow: 7px 7px 5px 0px rgba(209,209,209,1);
  -moz-box-shadow: 7px 7px 5px 0px rgba(209,209,209,1);
  box-shadow: 7px 7px 5px 0px rgba(209,209,209,1);
}

.shadow-t {
  -webkit-box-shadow: -1px -7px 5px 0px rgba(209,209,209,1);
  -moz-box-shadow: -1px -7px 5px 0px rgba(209,209,209,1);
  box-shadow: -1px -7px 5px 0px rgba(209,209,209,1);
}

.shadow-tl {
  -webkit-box-shadow: -7px -7px 5px 0px rgba(209,209,209,1);
  -moz-box-shadow: -7px -7px 5px 0px rgba(209,209,209,1);
  box-shadow: -7px -7px 5px 0px rgba(209,209,209,1);
}

.shadow-tr {
  -webkit-box-shadow: 7px -7px 5px 0px rgba(209,209,209,1);
  -moz-box-shadow: 7px -7px 5px 0px rgba(209,209,209,1);
  box-shadow: 7px -7px 5px 0px rgba(209,209,209,1);
}