/*
  BACKGROUND COLOR
*/

.bg-transparent
  background-color transparent

.bg-white
  background-color $white

.bg-black
  background-color $black

.bg-primary
  background-color $primary

.bg-secondary
  background-color $secondary

.bg-positive
  background-color $positive

.bg-negative
  background-color $negative

.bg-info
  background-color $info

.bg-warning
  background-color $warning

.bg-gray
  background-color gray

/*
  BACKGROUND COLOR HOVER
*/

.bg-white:hover.btn, .bg-black:hover.btn,
.bg-white:hover.tab, .bg-black:hover.tab,
.bg-white:hover.menu-item, .bg-black:hover.menu-item,
.bg-white:hover.collapsible-item
  background-color $whitehover

.bg-primary:hover.btn, .bg-primary:hover.tab,
.bg-primary:hover.menu-item
.bg-primary:hover.collapsible-item
  background-color $primaryhover

.bg-secondary:hover.btn, .bg-secondary:hover.tab,
.bg-secondary:hover.menu-item,
.bg-secondary:hover.collapsible-item
  background-color $secondaryhover

.bg-positive:hover.btn, .bg-positive:hover.tab,
.bg-positive:hover.menu-item
.bg-positive:hover.collapsible-item
  background-color $positivehover

.bg-negative:hover.btn, .bg-negative:hover.tab,
.bg-negative:hover.menu-item
.bg-negative:hover.collapsible-item
  background-color: $negativehover

.bg-info:hover.btn, .bg-info:hover.tab,
.bg-info:hover.menu-item
.bg-info:hover.collapsible-item
  background-color $infohover

.bg-warning:hover.btn, .bg-info:hover.tab,
.bg-warning:hover.menu-item
.bg-warning:hover.collapsible-item
  background-color $warninghover

/*
  TEXT COLOR
*/

.text-white
  color $white

.text-black
  color $black

.text-primary
  color $primary

.text-secondary
  color $secondary

.text-positive
  color $positive

.text-negative
  color $negative

.text-info
  color $info

.text-warning
  color $warning

.text-gray
  color gray
