/*
  BACKGROUND COLOR
*/

.bg-transparent
  background-color transparent

.bg-white
  background-color $white

.bg-black
  background-color $black

.bg-primary
  background-color $primary

.bg-secondary
  background-color $secondary

.bg-positive
  background-color $positive

.bg-negative
  background-color $negative

.bg-info
  background-color $info

.bg-warning
  background-color $warning

/*
  BACKGROUND COLOR HOVER
*/

.bg-white:hover.btn, .bg-black:hover.btn,
.bg-white:hover.tab, .bg-black:hover.tab,
.bg-white:hover.menu-item, .bg-black:hover.menu-item
  background-color $whitehover

.bg-primary:hover.btn, .bg-primary:hover.tab,
.bg-primary:hover.menu-item
  background-color $primaryhover

.bg-secondary:hover.btn, .bg-secondary:hover.tab,
.bg-secondary:hover.menu-item
  background-color $secondaryhover

.bg-positive:hover.btn, .bg-positive:hover.tab,
.bg-positive:hover.menu-item
  background-color $positivehover

.bg-negative:hover.btn, .bg-negative:hover.tab,
.bg-negative:hover.menu-item
  background-color: $negativehover

.bg-info:hover.btn, .bg-info:hover.tab,
.bg-info:hover.menu-item
  background-color $infohover

.bg-warning:hover.btn, .bg-info:hover.tab,
.bg-warning:hover.menu-item
  background-color $warninghover

/*
  ACTIVE ITEM
*/

.bg-white.menu-item.active
    background-color $whiteactive

/*
  TEXT COLOR
*/

.text-white
  color $white

.text-black
  color $black

.text-primary
  color $primary

.text-secondary
  color $secondary

.text-positive
  color $positive

.text-negative
  color $negative

.text-info
  color $info

.text-warning
  color $warning

/*
  TEXT BUTTON COLOR
*/

.flatbtn
  background-color: none;

.flatbtn:hover
  background-color  $textbtnhover

.outlinedbtn
  background-color: none;
  border: 2px solid $textbtnhover

.outlinedbtn:hover
  background-color  $whitehover
  border: 2px solid $textbtnhover

// .btn.text-black:hover
//   background-color $blackflathover

// .btn.text-primary:hover
//   background-color $primaryflathover

// .btn.text-secondary:hover
//   background-color $secondaryflathover

// .btn.text-positive:hover
//   background-color $positiveflathover

// .btn.text-negative:hover
//   background-color $negativeflathover

// .btn.text-info:hover
//   background-color $infoflathover  

// .btn.text-warning:hover
//   background-color $warningflathover

/*
  ACTIVE TAB BORDER COLOR
*/

.active-border-bottom-white
  border-bottom $activebordersize solid $white

.active-border-bottom-black
  border-bottom $activebordersize solid $black

.active-border-right-white
  border-right  $activebordersize solid $white

.active-border-right-black
  border-right  $activebordersize solid $black


