@font-face {
  font-family: HawkFrameworkFont;
  src: url(../fonts/rubrik-regular.ttf);
}

* {
  font-family: HawkFrameworkFont;
}

/*
  BUTTONS
*/

.btn {
  padding: 8px;
  font-size: 16px;
  outline: none;
  white-space: nowrap;
  display: inline-flex;
  cursor: pointer;
}

.btnfab {
  padding: 8px;
  font-size: 16px;
  outline: none;
  white-space: nowrap;
  display: inline-flex;
  cursor: pointer;
  border-radius: 50%;
}

.btn.outlinedbtn.disabled {
  color: gray;
  background-color  white
  border: 2px solid gray
}

.circle {
  border-radius: 50%;
}

.chip {
  border-radius: 50px;
}

.boxshadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.bottom_shadow
  box-shadow: 0px 2px rgba(0,0,0,0.2);

.div-rounded {
  border: 2px solid lightgray;
  border-radius: 5px;
}
.tab {
  display:inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
}

.title {
  color: black;
}

.title-media {
  color: white;
}

.subtitle {
  color: gray;
}

.subtitle-media {
  color: white;
}

.item-padding {
  padding-left: 16px;
  padding-right: 16px;
}

.icon-left {
  padding-right: 16px;
}

.menu-icon-left {
  padding-left: 16px;
  padding-right: 16px;
  width: 36px;
}

.menu-item {
  padding-top:8px;
  padding-bottom: 8px;
}

.menu-title {
  height: 40px;
}

.list-item-hover {
  background-color: #EEEEEE;
}

.list-item-color {
  background-color: white;
}

hr {
  background-color:lightgray;
  height:1px;
  border: none;
}

.toolbar-top {
  position: absolute;
  z-index: 12;
  top: 0px;
  left: 0px;
}

.toolbar-top-fixed {
  position: fixed;
  z-index: 12;
  top: 0px;
  left: 0px;
}

.toolbar-bottom {
  position: absolute;
  z-index: 12;
  bottom: 0px;
  left: 0px;
}

.toolbar-bottom-fixed {
  position: fixed;
  z-index: 12;
  bottom: 0px;
  left: 0px;
}

.input-box {
  padding: 8px;
}

/*
  COLLAPSIBLE
*/
.collapsible-menu {
  text-align: center;
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
  color: white;
}

.arrow {
   transform: rotate(0deg);
  /* -webkit-animation-name: example;
  -webkit-animation-duration: 0.3s;
  animation-name: example;
  animation-duration: 0.3s; */
}

.arrow2 {
    transform: rotate(180deg);
    /* -webkit-animation-name: example2;
    -webkit-animation-duration: 0.3s;
    animation-name: example2;
    animation-duration: 0.3s; */
}

/* Standard syntax */
/* @keyframes example {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(90deg); }
  100% { transform: rotate(180deg); }
} */

/* Standard syntax */
 /* @keyframes example2 {
  0% { transform: rotate(180deg); }
  50% { transform: rotate(90deg); }
  100% { transform: rotate(0deg); }
} */

/*
  TEXTFIELD
*/

$edit-controls-nofocus = gray

.input-container.primary
  border-bottom 2px solid $primary

.input-container.nofocus
  border-bottom 2px solid $edit-controls-nofocus

.control-label.primary
  color $primary

.control-label.nofocus
  color $edit-controls-nofocus

.static-label.nofocus
  color: #616161

.static-label.primary
  color black

.error-label
  color $negative
  font-size 12px
  font-weight bold

.helper-text
  color $edit-controls-nofocus
  font-size 12px

/*
  RADIO BUTTON
*/

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark.primary
  border-color $primary

.container input:checked ~ .checkmark.primary.disabled
  border-color lightgrey

/* Style the indicator (dot/circle) */
.container.primary .checkmark:after
  background $primary

.container.primary .checkmark.disabled:after
  background lightgrey

/*
  CHECKBOX
*/

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .primary
  background-color $primary
  border-color $primary

.container input:checked ~ .primary.disabled
  background-color white
  border-color $lightgrey

/*
  ACTIVE ITEM
*/

.bg-white.menu-item.active, .menu-item.active
    background-color $whitehover

.bg-modal
  background-color:  #F2F2F2


/*
  TEXT BUTTON COLOR
*/

.flatbtn
  background-color: none;

.flatbtn:hover
  background-color  $textbtnhover

.outlinedbtn
  background-color: none;
  border: 2px solid $textbtnhover

.outlinedbtn:hover
  background-color  $whitehover
  border: 2px solid $textbtnhover

/*
  ACTIVE TAB BORDER COLOR
*/

$activebordersize = 6px
$activeborderflatsize = 2px

.active-border-bottom-white
  border-bottom $activebordersize solid $white

.active-border-bottom-black
  border-bottom $activebordersize solid $black

.active-border-right-white
  border-right  $activebordersize solid $white

.active-border-right-black
  border-right  $activebordersize solid $black


/* Date Picker */
.btn.circle.activeday, .btn.circle.activehour,
.btn.circle.activemin
  background-color: $primary
  color: white
