.btn {
  padding: 8px;
  font-size: 16px;
  outline: none;
  white-space: nowrap;
  display: inline-flex;
  cursor: pointer;
}

.btnfab {
  padding: 8px;
  font-size: 16px;
  outline: none;
  white-space: nowrap;
  display: inline-flex;
  cursor: pointer;
  border-radius: 50%;
}

.circle {
  border-radius: 50%;
}

.chip {
  border-radius: 50px;
}

.boxshadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding:4px;
}

.tab {
  display:inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
}

.title {
  color: black;
}

.title-media {
  color: white;
}

.subtitle {
  color: gray;
}

.subtitle-media {
  color: white;
}

.item-padding {
  padding-left: 16px;
  padding-right: 16px;
}

.icon-left {
  padding-right: 16px;
}

.menu-icon-left {
  padding-left: 16px;
  padding-right: 16px;
  width: 36px;
}

.menu-item {
  padding-top:8px;
  padding-bottom: 8px;
}

.menu-title {
  height: 40px;
}

.list-item-hover {
  background-color: #EEEEEE;
}

.list-item-color {
  background-color: white;
}

hr {
  background-color:gray;
  height:1px;
  border: none;
}

.toolbar-top {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
}

.toolbar-bottom {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0px;
}