/*
  INPUT CONTAINER
*/

.main-input-container {
  position:relative;
  padding-top: 2px;
  padding-bottom: 2px;
}

.main-input-container.rounded {
  margin-right: 5px;
}

.input-container.outline {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.input-container.outline.rounded {
  border-radius: 50px;
}

.input-container.filled {
  border-radius: 0px;
}

.input-container.filled.outline.rounded {
  border-radius: 50px;
}

.input-container.outline.filled.rounded > .input-field-container {
  margin-left: 20px;
  margin-right: 20px;
}

.input-container.outline.rounded > .input-field-container {
  margin-left: 20px;
  margin-right: 20px;
}

input[type="text"] {
  font-size:18px;
  font-weight: bold;
}

.input-label {
  font-size: 12px;
  padding: 0px;
}

/*
  INPUT FIELD
*/
.input-field {
  width:100%;
  border-style:none;
  outline: none;
  z-index:0;
  padding-top: 2px;
  background:none;
}

/*
  MODAL
*/
.drawer {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1600;
  top: 0;
  left: 0;
}

.drawer-animation {
  transition: 0.3s;
}

.drawer_container {
  z-index: 1610;
  overflow-x: hidden;
  overflow-y: auto;
}

.drawer.bg-modal
  background-color rgba(0, 0, 0, 0.32)

.bg-modal
  background-color rgba(0, 0, 0, 0.32)

/*
  BUTTONS
*/

.btn {
  padding: 8px;
  font-size: 16px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
}

.btngroup {
  font-size: 16px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
}

.flatbtn:hover {
  border-radius: 5px;  
}

.btnfab {
  padding: 8px;
  font-size: 16px;
  outline: none;
  white-space: nowrap;
  display: inline-flex;
  cursor: pointer;
  border-radius: 50%;
}

.btn.outlinedbtn, .btngroup.outlinedbtn {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.btn.outlinedbtn.rounded {
  border: 1px solid lightgray;
  border-radius: 50px;
}

.btn.outlinedbtn.disabled {
  color: gray;
}

/*
END BUTTONS
*/

.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 50px;
}


.chip {
  border-radius: 50px;
}

.boxshadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.bottom_shadow
  box-shadow: 0px 2px rgba(0,0,0,0.2);

.tab {
  display:inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
}

.title {
  color: black;
}

.title-media {
  color: white;
}

.subtitle {
  color: gray;
  font-size: 14px;
}

.subtitle-media {
  color: white;
}

.list-item-padding {
  padding: 13px 0px;
}

.list-item-content-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.list-item-hover {
  background-color: #EEEEEE;
}

.list-item-color {
  background-color: white;
}

hr {
  background-color:lightgray;
  height:1px;
  border: none;
}

.input-box {
  padding: 8px;
}

/*
  COLLAPSIBLE
*/
.collapsible-menu {
  text-align: center;
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
  color: white;
}

.arrow {
   transform: rotate(0deg);
  /* -webkit-animation-name: example;
  -webkit-animation-duration: 0.3s;
  animation-name: example;
  animation-duration: 0.3s; */
}

.arrow2 {
    transform: rotate(180deg);
    /* -webkit-animation-name: example2;
    -webkit-animation-duration: 0.3s;
    animation-name: example2;
    animation-duration: 0.3s; */
}

/* Standard syntax */
/* @keyframes example {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(90deg); }
  100% { transform: rotate(180deg); }
} */

/* Standard syntax */
 /* @keyframes example2 {
  0% { transform: rotate(180deg); }
  50% { transform: rotate(90deg); }
  100% { transform: rotate(0deg); }
} */

/*
COUNTER
*/

.btn > .btn-content > .counter
  right: 5px;

.faicon > .counter
  right: 2px;


/*
LINKS
*/

a {
  text-decoration: none !important;
}

/*
POPUP MENUS
*/

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  min-width: 250px;
  max-height: 320px;
  overflow-y: auto;
  z-index: 1650;
  cursor: pointer;
}

.menu-item-padding {
  padding: 8px 0px;   
}

.menu-item-content-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-item-padding:hover {
  background-color: #EEEEEE;
}

/*
ARTICLE
*/

article.radius {
  border-radius: 5px;
}

article.chip {
  border-radius: 50px;
}

article.article-content {
  padding: 3px;
}

/*
CARD
*/

.card-padding {
  padding: 12px;
}

.card-header-image-padding {
  padding-right: 12px;  
}
