// * {
//   font-family: '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
// }

@font-face {
    font-family: 'liberation_sansregular';
    src: url('./fonts/liberationsans-regular-webfont.woff2') format('woff2'),
         url('./fonts/liberationsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'liberation_sansregular';
}