.text-red50 {
  color: #FFEBEE;
}

.text-red100 {
  color: #FFCDD2;
}

.text-red200 {
  color: #EF9A9A;
}

.text-red300 {
  color: #E57373;
}

.text-red400 {
  color: #EF5350;
}

.text-red500 {
  color: #F44336;
}

.text-red600 {
  color: #E53935;
}

.text-red700 {
  color: #D32F2F;
}

.text-red800 {
  color: #C62828;
}

.text-red900 {
  color: #B71C1C;
}

.text-redA100 {
  color: #FF8A80;
}

.text-redA200 {
  color: #FF5252;
}

.text-redA400 {
  color: #FF1744;
}

.text-redA700 {
  color: #D50000;
}

.text-pink50 {
  color: #FCE4EC;
}

.text-pink100 {
  color: #F8BBD0;
}

.text-pink200 {
  color: #F48FB1;
}

.text-pink300 {
  color: #F06292;
}

.text-pink400 {
  color: #EC407A;
}

.text-pink500 {
  color: #E91E63;
}

.text-pink600 {
  color: #D81B60;
}

.text-pink700 {
  color: #C2185B;
}

.text-pink800 {
  color: #AD1457;
}

.text-pink900 {
  color: #880E4F;
}

.text-pinkA100 {
  color: #FF80AB;
}

.text-pinkA200 {
  color: #FF4081;
}

.text-pinkA400 {
  color: #F50057;
}

.text-pinkA700 {
  color: #C51162;
}

.text-purple50 {
  color: #F3E5F5;
}

.text-purple100 {
  color: #E1BEE7;
}

.text-purple200 {
  color: #CE93D8;
}

.text-purple300 {
  color: #BA68C8;
}

.text-purple400 {
  color: #AB47BC;
}

.text-purple500 {
  color: #9C27B0;
}

.text-purple600 {
  color: #8E24AA;
}

.text-purple700 {
  color: #7B1FA2;
}

.text-purple800 {
  color: #6A1B9A;
}

.text-purple900 {
  color: #4A148C;
}

.text-purpleA100 {
  color: #EA80FC;
}

.text-purpleA200 {
  color: #E040FB;
}

.text-purpleA400 {
  color: #D500F9;
}

.text-purpleA700 {
  color: #AA00FF;
}

.text-deepPurple50 {
  color: #EDE7F6;
}

.text-deepPurple100 {
  color: #D1C4E9;
}

.text-deepPurple200 {
  color: #B39DDB;
}

.text-deepPurple300 {
  color: #9575CD;
}

.text-deepPurple400 {
  color: #7E57C2;
}

.text-deepPurple500 {
  color: #673AB7;
}

.text-deepPurple600 {
  color: #5E35B1;
}

.text-deepPurple700 {
  color: #512DA8;
}

.text-deepPurple800 {
  color: #4527A0;
}

.text-deepPurple900 {
  color: #311B92;
}

.text-deepPurpleA100 {
  color: #B388FF;
}

.text-deepPurpleA200 {
  color: #7C4DFF;
}

.text-deepPurpleA400 {
  color: #651FFF;
}

.text-deepPurpleA700 {
  color: #6200EA;
}

.text-indigo50 {
  color: #E8EAF6;
}

.text-indigo100 {
  color: #C5CAE9;
}

.text-indigo200 {
  color: #9FA8DA;
}

.text-indigo300 {
  color: #7986CB;
}

.text-indigo400 {
  color: #5C6BC0;
}

.text-indigo500 {
  color: #3F51B5;
}

.text-indigo600 {
  color: #3949AB;
}

.text-indigo700 {
  color: #303F9F;
}

.text-indigo800 {
  color: #283593;
}

.text-indigo900 {
  color: #1A237E;
}

.text-indigoA100 {
  color: #8C9EFF;
}

.text-indigoA200 {
  color: #536DFE;
}

.text-indigoA400 {
  color: #3D5AFE;
}

.text-indigoA700 {
  color: #304FFE;
}

.text-blue50 {
  color: #E3F2FD;
}

.text-blue100 {
  color: #BBDEFB;
}

.text-blue200 {
  color: #90CAF9;
}

.text-blue300 {
  color: #64B5F6;
}

.text-blue400 {
  color: #42A5F5;
}

.text-blue500 {
  color: #2196F3;
}

.text-blue600 {
  color: #1E88E5;
}

.text-blue700 {
  color: #1976D2;
}

.text-blue800 {
  color: #1565C0;
}

.text-blue900 {
  color: #0D47A1;
}

.text-blueA100 {
  color: #82B1FF;
}

.text-blueA200 {
  color: #448AFF;
}

.text-blueA400 {
  color: #2979FF;
}

.text-blueA700 {
  color: #2962FF;
}

.text-lightBlue50 {
  color: #E1F5FE;
}

.text-lightBlue100 {
  color: #B3E5FC;
}

.text-lightBlue200 {
  color: #81D4FA;
}

.text-lightBlue300 {
  color: #4FC3F7;
}

.text-lightBlue400 {
  color: #29B6F6;
}

.text-lightBlue500 {
  color: #03A9F4;
}

.text-lightBlue600 {
  color: #039BE5;
}

.text-lightBlue700 {
  color: #0288D1;
}

.text-lightBlue800 {
  color: #0277BD;
}

.text-lightBlue900 {
  color: #01579B;
}

.text-lightBlueA100 {
  color: #80D8FF;
}

.text-lightBlueA200 {
  color: #40C4FF;
}

.text-lightBlueA400 {
  color: #00B0FF;
}

.text-lightBlueA700 {
  color: #0091EA;
}

.text-cyan50 {
  color: #E0F7FA;
}

.text-cyan100 {
  color: #B2EBF2;
}

.text-cyan200 {
  color: #80DEEA;
}

.text-cyan300 {
  color: #4DD0E1;
}

.text-cyan400 {
  color: #26C6DA;
}

.text-cyan500 {
  color: #00BCD4;
}

.text-cyan600 {
  color: #00ACC1;
}

.text-cyan700 {
  color: #0097A7;
}

.text-cyan800 {
  color: #00838F;
}

.text-cyan900 {
  color: #006064;
}

.text-cyanA100 {
  color: #84FFFF;
}

.text-cyanA200 {
  color: #18FFFF;
}

.text-cyanA400 {
  color: #00E5FF;
}

.text-cyanA700 {
  color: #00B8D4;
}

.text-teal50 {
  color: #E0F2F1;
}

.text-teal100 {
  color: #B2DFDB;
}

.text-teal200 {
  color: #80CBC4;
}

.text-teal300 {
  color: #4DB6AC;
}

.text-teal400 {
  color: #26A69A;
}

.text-teal500 {
  color: #009688;
}

.text-teal600 {
  color: #00897B;
}

.text-teal700 {
  color: #00796B;
}

.text-teal800 {
  color: #00695C;
}

.text-teal900 {
  color: #004D40;
}

.text-tealA100 {
  color: #A7FFEB;
}

.text-tealA200 {
  color: #64FFDA;
}

.text-tealA400 {
  color: #1DE9B6;
}

.text-tealA700 {
  color: #00BFA5;
}

.text-green50 {
  color: #E8F5E9;
}

.text-green100 {
  color: #C8E6C9;
}

.text-green200 {
  color: #A5D6A7;
}

.text-green300 {
  color: #81C784;
}

.text-green400 {
  color: #66BB6A;
}

.text-green500 {
  color: #4CAF50;
}

.text-green600 {
  color: #43A047;
}

.text-green700 {
  color: #388E3C;
}

.text-green800 {
  color: #2E7D32;
}

.text-green900 {
  color: #1B5E20;
}

.text-greenA100 {
  color: #B9F6CA;
}

.text-greenA200 {
  color: #69F0AE;
}

.text-greenA400 {
  color: #00E676;
}

.text-greenA700 {
  color: #00C853;
}

.text-lightGreen50 {
  color: #F1F8E9;
}

.text-lightGreen100 {
  color: #DCEDC8;
}

.text-lightGreen200 {
  color: #C5E1A5;
}

.text-lightGreen300 {
  color: #AED581;
}

.text-lightGreen400 {
  color: #9CCC65;
}

.text-lightGreen500 {
  color: #8BC34A;
}

.text-lightGreen600 {
  color: #7CB342;
}

.text-lightGreen700 {
  color: #689F38;
}

.text-lightGreen800 {
  color: #558B2F;
}

.text-lightGreen900 {
  color: #33691E;
}

.text-lightGreenA100 {
  color: #CCFF90;
}

.text-lightGreenA200 {
  color: #B2FF59;
}

.text-lightGreenA400 {
  color: #76FF03;
}

.text-lightGreenA700 {
  color: #64DD17;
}

.text-lime50 {
  color: #F9FBE7;
}

.text-lime100 {
  color: #F0F4C3;
}

.text-lime200 {
  color: #E6EE9C;
}

.text-lime300 {
  color: #DCE775;
}

.text-lime400 {
  color: #D4E157;
}

.text-lime500 {
  color: #CDDC39;
}

.text-lime600 {
  color: #C0CA33;
}

.text-lime700 {
  color: #AFB42B;
}

.text-lime800 {
  color: #9E9D24;
}

.text-lime900 {
  color: #827717;
}

.text-limeA100 {
  color: #F4FF81;
}

.text-limeA200 {
  color: #EEFF41;
}

.text-limeA400 {
  color: #C6FF00;
}

.text-limeA700 {
  color: #AEEA00;
}

.text-yellow50 {
  color: #FFFDE7;
}

.text-yellow100 {
  color: #FFF9C4;
}

.text-yellow200 {
  color: #FFF59D;
}

.text-yellow300 {
  color: #FFF176;
}

.text-yellow400 {
  color: #FFEE58;
}

.text-yellow500 {
  color: #FFEB3B;
}

.text-yellow600 {
  color: #FDD835;
}

.text-yellow700 {
  color: #FBC02D;
}

.text-yellow800 {
  color: #F9A825;
}

.text-yellow900 {
  color: #F57F17;
}

.text-yellowA100 {
  color: #FFFF8D;
}

.text-yellowA200 {
  color: #FFFF00;
}

.text-yellowA400 {
  color: #FFEA00;
}

.text-yellowA700 {
  color: #FFD600;
}

.text-amber50 {
  color: #FFF8E1;
}

.text-amber100 {
  color: #FFECB3;
}

.text-amber200 {
  color: #FFE082;
}

.text-amber300 {
  color: #FFD54F;
}

.text-amber400 {
  color: #FFCA28;
}

.text-amber500 {
  color: #FFC107;
}

.text-amber600 {
  color: #FFB300;
}

.text-amber700 {
  color: #FFA000;
}

.text-amber800 {
  color: #FF8F00;
}

.text-amber900 {
  color: #FF6F00;
}

.text-amberA100 {
  color: #FFE57F;
}

.text-amberA200 {
  color: #FFD740;
}

.text-amberA400 {
  color: #FFC400;
}

.text-amberA700 {
  color: #FFAB00;
}

.text-orange50 {
  color: #FFF3E0;
}

.text-orange100 {
  color: #FFE0B2;
}

.text-orange200 {
  color: #FFCC80;
}

.text-orange300 {
  color: #FFB74D;
}

.text-orange400 {
  color: #FFA726;
}

.text-orange500 {
  color: #FF9800;
}

.text-orange600 {
  color: #FB8C00;
}

.text-orange700 {
  color: #F57C00;
}

.text-orange800 {
  color: #EF6C00;
}

.text-orange900 {
  color: #E65100;
}

.text-orangeA100 {
  color: #FFD180;
}

.text-orangeA200 {
  color: #FFAB40;
}

.text-orangeA400 {
  color: #FF9100;
}

.text-orangeA700 {
  color: #FF6D00;
}

.text-deepOrange50 {
  color: #FBE9E7;
}

.text-deepOrange100 {
  color: #FFCCBC;
}

.text-deepOrange200 {
  color: #FFAB91;
}

.text-deepOrange300 {
  color: #FF8A65;
}

.text-deepOrange400 {
  color: #FF7043;
}

.text-deepOrange500 {
  color: #FF5722;
}

.text-deepOrange600 {
  color: #F4511E;
}

.text-deepOrange700 {
  color: #E64A19;
}

.text-deepOrange800 {
  color: #D84315;
}

.text-deepOrange900 {
  color: #BF360C;
}

.text-deepOrangeA100 {
  color: #FF9E80;
}

.text-deepOrangeA200 {
  color: #FF6E40;
}

.text-deepOrangeA400 {
  color: #FF3D00;
}

.text-deepOrangeA700 {
  color: #DD2C00;
}

.text-brown50 {
  color: #EFEBE9;
}

.text-brown100 {
  color: #D7CCC8;
}

.text-brown200 {
  color: #BCAAA4;
}

.text-brown300 {
  color: #A1887F;
}

.text-brown400 {
  color: #8D6E63;
}

.text-brown500 {
  color: #795548;
}

.text-brown600 {
  color: #6D4C41;
}

.text-brown700 {
  color: #5D4037;
}

.text-brown800 {
  color: #4E342E;
}

.text-brown900 {
  color: #3E2723;
}

.text-gray50 {
  color: #FAFAFA;
}

.text-gray100 {
  color: #F5F5F5;
}

.text-gray200 {
  color: #EEEEEE;
}

.text-gray300 {
  color: #E0E0E0;
}

.text-gray400 {
  color: #BDBDBD;
}

.text-gray500 {
  color: #9E9E9E;
}

.text-gray600 {
  color: #757575;
}

.text-gray700 {
  color: #616161;
}

.text-gray800 {
  color: #424242;
}

.text-gray900 {
  color: #212121;
}

.text-blueGray50 {
  color: #ECEFF1;
}

.text-blueGray100 {
  color: #CFD8DC;
}

.text-blueGray200 {
  color: #B0BEC5;
}

.text-blueGray300 {
  color: #90A4AE;
}

.text-blueGray400 {
  color: #78909C;
}

.text-blueGray500 {
  color: #607D8B;
}

.text-blueGray600 {
  color: #546E7A;
}

.text-blueGray700 {
  color: #455A64;
}

.text-blueGray800 {
  color: #37474F;
}

.text-blueGray900 {
  color: #263238;
}