.bg-red50 {
  background-color: #FFEBEE;
}

.bg-red100 {
  background-color: #FFCDD2;
}

.bg-red200 {
  background-color: #EF9A9A;
}

.bg-red300 {
  background-color: #E57373;
}

.bg-red400 {
  background-color: #EF5350;
}

.bg-red500 {
  background-color: #F44336;
}

.bg-red600 {
  background-color: #E53935;
}

.bg-red700 {
  background-color: #D32F2F;
}

.bg-red800 {
  background-color: #C62828;
}

.bg-red900 {
  background-color: #B71C1C;
}

.bg-redA100 {
  background-color: #FF8A80;
}

.bg-redA200 {
  background-color: #FF5252;
}

.bg-redA400 {
  background-color: #FF1744;
}

.bg-redA700 {
  background-color: #D50000;
}

.bg-pink50 {
  background-color: #FCE4EC;
}

.bg-pink100 {
  background-color: #F8BBD0;
}

.bg-pink200 {
  background-color: #F48FB1;
}

.bg-pink300 {
  background-color: #F06292;
}

.bg-pink400 {
  background-color: #EC407A;
}

.bg-pink500 {
  background-color: #E91E63;
}

.bg-pink600 {
  background-color: #D81B60;
}

.bg-pink700 {
  background-color: #C2185B;
}

.bg-pink800 {
  background-color: #AD1457;
}

.bg-pink900 {
  background-color: #880E4F;
}

.bg-pinkA100 {
  background-color: #FF80AB;
}

.bg-pinkA200 {
  background-color: #FF4081;
}

.bg-pinkA400 {
  background-color: #F50057;
}

.bg-pinkA700 {
  background-color: #C51162;
}

.bg-purple50 {
  background-color: #F3E5F5;
}

.bg-purple100 {
  background-color: #E1BEE7;
}

.bg-purple200 {
  background-color: #CE93D8;
}

.bg-purple300 {
  background-color: #BA68C8;
}

.bg-purple400 {
  background-color: #AB47BC;
}

.bg-purple500 {
  background-color: #9C27B0;
}

.bg-purple600 {
  background-color: #8E24AA;
}

.bg-purple700 {
  background-color: #7B1FA2;
}

.bg-purple800 {
  background-color: #6A1B9A;
}

.bg-purple900 {
  background-color: #4A148C;
}

.bg-purpleA100 {
  background-color: #EA80FC;
}

.bg-purpleA200 {
  background-color: #E040FB;
}

.bg-purpleA400 {
  background-color: #D500F9;
}

.bg-purpleA700 {
  background-color: #AA00FF;
}

.bg-deepPurple50 {
  background-color: #EDE7F6;
}

.bg-deepPurple100 {
  background-color: #D1C4E9;
}

.bg-deepPurple200 {
  background-color: #B39DDB;
}

.bg-deepPurple300 {
  background-color: #9575CD;
}

.bg-deepPurple400 {
  background-color: #7E57C2;
}

.bg-deepPurple500 {
  background-color: #673AB7;
}

.bg-deepPurple600 {
  background-color: #5E35B1;
}

.bg-deepPurple700 {
  background-color: #512DA8;
}

.bg-deepPurple800 {
  background-color: #4527A0;
}

.bg-deepPurple900 {
  background-color: #311B92;
}

.bg-deepPurpleA100 {
  background-color: #B388FF;
}

.bg-deepPurpleA200 {
  background-color: #7C4DFF;
}

.bg-deepPurpleA400 {
  background-color: #651FFF;
}

.bg-deepPurpleA700 {
  background-color: #6200EA;
}

.bg-indigo50 {
  background-color: #E8EAF6;
}

.bg-indigo100 {
  background-color: #C5CAE9;
}

.bg-indigo200 {
  background-color: #9FA8DA;
}

.bg-indigo300 {
  background-color: #7986CB;
}

.bg-indigo400 {
  background-color: #5C6BC0;
}

.bg-indigo500 {
  background-color: #3F51B5;
}

.bg-indigo600 {
  background-color: #3949AB;
}

.bg-indigo700 {
  background-color: #303F9F;
}

.bg-indigo800 {
  background-color: #283593;
}

.bg-indigo900 {
  background-color: #1A237E;
}

.bg-indigoA100 {
  background-color: #8C9EFF;
}

.bg-indigoA200 {
  background-color: #536DFE;
}

.bg-indigoA400 {
  background-color: #3D5AFE;
}

.bg-indigoA700 {
  background-color: #304FFE;
}

.bg-blue50 {
  background-color: #E3F2FD;
}

.bg-blue100 {
  background-color: #BBDEFB;
}

.bg-blue200 {
  background-color: #90CAF9;
}

.bg-blue300 {
  background-color: #64B5F6;
}

.bg-blue400 {
  background-color: #42A5F5;
}

.bg-blue500 {
  background-color: #2196F3;
}

.bg-blue600 {
  background-color: #1E88E5;
}

.bg-blue700 {
  background-color: #1976D2;
}

.bg-blue800 {
  background-color: #1565C0;
}

.bg-blue900 {
  background-color: #0D47A1;
}

.bg-blueA100 {
  background-color: #82B1FF;
}

.bg-blueA200 {
  background-color: #448AFF;
}

.bg-blueA400 {
  background-color: #2979FF;
}

.bg-blueA700 {
  background-color: #2962FF;
}

.bg-lightBlue50 {
  background-color: #E1F5FE;
}

.bg-lightBlue100 {
  background-color: #B3E5FC;
}

.bg-lightBlue200 {
  background-color: #81D4FA;
}

.bg-lightBlue300 {
  background-color: #4FC3F7;
}

.bg-lightBlue400 {
  background-color: #29B6F6;
}

.bg-lightBlue500 {
  background-color: #03A9F4;
}

.bg-lightBlue600 {
  background-color: #039BE5;
}

.bg-lightBlue700 {
  background-color: #0288D1;
}

.bg-lightBlue800 {
  background-color: #0277BD;
}

.bg-lightBlue900 {
  background-color: #01579B;
}

.bg-lightBlueA100 {
  background-color: #80D8FF;
}

.bg-lightBlueA200 {
  background-color: #40C4FF;
}

.bg-lightBlueA400 {
  background-color: #00B0FF;
}

.bg-lightBlueA700 {
  background-color: #0091EA;
}

.bg-cyan50 {
  background-color: #E0F7FA;
}

.bg-cyan100 {
  background-color: #B2EBF2;
}

.bg-cyan200 {
  background-color: #80DEEA;
}

.bg-cyan300 {
  background-color: #4DD0E1;
}

.bg-cyan400 {
  background-color: #26C6DA;
}

.bg-cyan500 {
  background-color: #00BCD4;
}

.bg-cyan600 {
  background-color: #00ACC1;
}

.bg-cyan700 {
  background-color: #0097A7;
}

.bg-cyan800 {
  background-color: #00838F;
}

.bg-cyan900 {
  background-color: #006064;
}

.bg-cyanA100 {
  background-color: #84FFFF;
}

.bg-cyanA200 {
  background-color: #18FFFF;
}

.bg-cyanA400 {
  background-color: #00E5FF;
}

.bg-cyanA700 {
  background-color: #00B8D4;
}

.bg-teal50 {
  background-color: #E0F2F1;
}

.bg-teal100 {
  background-color: #B2DFDB;
}

.bg-teal200 {
  background-color: #80CBC4;
}

.bg-teal300 {
  background-color: #4DB6AC;
}

.bg-teal400 {
  background-color: #26A69A;
}

.bg-teal500 {
  background-color: #009688;
}

.bg-teal600 {
  background-color: #00897B;
}

.bg-teal700 {
  background-color: #00796B;
}

.bg-teal800 {
  background-color: #00695C;
}

.bg-teal900 {
  background-color: #004D40;
}

.bg-tealA100 {
  background-color: #A7FFEB;
}

.bg-tealA200 {
  background-color: #64FFDA;
}

.bg-tealA400 {
  background-color: #1DE9B6;
}

.bg-tealA700 {
  background-color: #00BFA5;
}

.bg-green50 {
  background-color: #E8F5E9;
}

.bg-green100 {
  background-color: #C8E6C9;
}

.bg-green200 {
  background-color: #A5D6A7;
}

.bg-green300 {
  background-color: #81C784;
}

.bg-green400 {
  background-color: #66BB6A;
}

.bg-green500 {
  background-color: #4CAF50;
}

.bg-green600 {
  background-color: #43A047;
}

.bg-green700 {
  background-color: #388E3C;
}

.bg-green800 {
  background-color: #2E7D32;
}

.bg-green900 {
  background-color: #1B5E20;
}

.bg-greenA100 {
  background-color: #B9F6CA;
}

.bg-greenA200 {
  background-color: #69F0AE;
}

.bg-greenA400 {
  background-color: #00E676;
}

.bg-greenA700 {
  background-color: #00C853;
}

.bg-lightGreen50 {
  background-color: #F1F8E9;
}

.bg-lightGreen100 {
  background-color: #DCEDC8;
}

.bg-lightGreen200 {
  background-color: #C5E1A5;
}

.bg-lightGreen300 {
  background-color: #AED581;
}

.bg-lightGreen400 {
  background-color: #9CCC65;
}

.bg-lightGreen500 {
  background-color: #8BC34A;
}

.bg-lightGreen600 {
  background-color: #7CB342;
}

.bg-lightGreen700 {
  background-color: #689F38;
}

.bg-lightGreen800 {
  background-color: #558B2F;
}

.bg-lightGreen900 {
  background-color: #33691E;
}

.bg-lightGreenA100 {
  background-color: #CCFF90;
}

.bg-lightGreenA200 {
  background-color: #B2FF59;
}

.bg-lightGreenA400 {
  background-color: #76FF03;
}

.bg-lightGreenA700 {
  background-color: #64DD17;
}

.bg-lime50 {
  background-color: #F9FBE7;
}

.bg-lime100 {
  background-color: #F0F4C3;
}

.bg-lime200 {
  background-color: #E6EE9C;
}

.bg-lime300 {
  background-color: #DCE775;
}

.bg-lime400 {
  background-color: #D4E157;
}

.bg-lime500 {
  background-color: #CDDC39;
}

.bg-lime600 {
  background-color: #C0CA33;
}

.bg-lime700 {
  background-color: #AFB42B;
}

.bg-lime800 {
  background-color: #9E9D24;
}

.bg-lime900 {
  background-color: #827717;
}

.bg-limeA100 {
  background-color: #F4FF81;
}

.bg-limeA200 {
  background-color: #EEFF41;
}

.bg-limeA400 {
  background-color: #C6FF00;
}

.bg-limeA700 {
  background-color: #AEEA00;
}

.bg-yellow50 {
  background-color: #FFFDE7;
}

.bg-yellow100 {
  background-color: #FFF9C4;
}

.bg-yellow200 {
  background-color: #FFF59D;
}

.bg-yellow300 {
  background-color: #FFF176;
}

.bg-yellow400 {
  background-color: #FFEE58;
}

.bg-yellow500 {
  background-color: #FFEB3B;
}

.bg-yellow600 {
  background-color: #FDD835;
}

.bg-yellow700 {
  background-color: #FBC02D;
}

.bg-yellow800 {
  background-color: #F9A825;
}

.bg-yellow900 {
  background-color: #F57F17;
}

.bg-yellowA100 {
  background-color: #FFFF8D;
}

.bg-yellowA200 {
  background-color: #FFFF00;
}

.bg-yellowA400 {
  background-color: #FFEA00;
}

.bg-yellowA700 {
  background-color: #FFD600;
}

.bg-amber50 {
  background-color: #FFF8E1;
}

.bg-amber100 {
  background-color: #FFECB3;
}

.bg-amber200 {
  background-color: #FFE082;
}

.bg-amber300 {
  background-color: #FFD54F;
}

.bg-amber400 {
  background-color: #FFCA28;
}

.bg-amber500 {
  background-color: #FFC107;
}

.bg-amber600 {
  background-color: #FFB300;
}

.bg-amber700 {
  background-color: #FFA000;
}

.bg-amber800 {
  background-color: #FF8F00;
}

.bg-amber900 {
  background-color: #FF6F00;
}

.bg-amberA100 {
  background-color: #FFE57F;
}

.bg-amberA200 {
  background-color: #FFD740;
}

.bg-amberA400 {
  background-color: #FFC400;
}

.bg-amberA700 {
  background-color: #FFAB00;
}

.bg-orange50 {
  background-color: #FFF3E0;
}

.bg-orange100 {
  background-color: #FFE0B2;
}

.bg-orange200 {
  background-color: #FFCC80;
}

.bg-orange300 {
  background-color: #FFB74D;
}

.bg-orange400 {
  background-color: #FFA726;
}

.bg-orange500 {
  background-color: #FF9800;
}

.bg-orange600 {
  background-color: #FB8C00;
}

.bg-orange700 {
  background-color: #F57C00;
}

.bg-orange800 {
  background-color: #EF6C00;
}

.bg-orange900 {
  background-color: #E65100;
}

.bg-orangeA100 {
  background-color: #FFD180;
}

.bg-orangeA200 {
  background-color: #FFAB40;
}

.bg-orangeA400 {
  background-color: #FF9100;
}

.bg-orangeA700 {
  background-color: #FF6D00;
}

.bg-deepOrange50 {
  background-color: #FBE9E7;
}

.bg-deepOrange100 {
  background-color: #FFCCBC;
}

.bg-deepOrange200 {
  background-color: #FFAB91;
}

.bg-deepOrange300 {
  background-color: #FF8A65;
}

.bg-deepOrange400 {
  background-color: #FF7043;
}

.bg-deepOrange500 {
  background-color: #FF5722;
}

.bg-deepOrange600 {
  background-color: #F4511E;
}

.bg-deepOrange700 {
  background-color: #E64A19;
}

.bg-deepOrange800 {
  background-color: #D84315;
}

.bg-deepOrange900 {
  background-color: #BF360C;
}

.bg-deepOrangeA100 {
  background-color: #FF9E80;
}

.bg-deepOrangeA200 {
  background-color: #FF6E40;
}

.bg-deepOrangeA400 {
  background-color: #FF3D00;
}

.bg-deepOrangeA700 {
  background-color: #DD2C00;
}

.bg-brown50 {
  background-color: #EFEBE9;
}

.bg-brown100 {
  background-color: #D7CCC8;
}

.bg-brown200 {
  background-color: #BCAAA4;
}

.bg-brown300 {
  background-color: #A1887F;
}

.bg-brown400 {
  background-color: #8D6E63;
}

.bg-brown500 {
  background-color: #795548;
}

.bg-brown600 {
  background-color: #6D4C41;
}

.bg-brown700 {
  background-color: #5D4037;
}

.bg-brown800 {
  background-color: #4E342E;
}

.bg-brown900 {
  background-color: #3E2723;
}

.bg-gray50 {
  background-color: #FAFAFA;
}

.bg-gray100 {
  background-color: #F5F5F5;
}

.bg-gray200 {
  background-color: #EEEEEE;
}

.bg-gray300 {
  background-color: #E0E0E0;
}

.bg-gray400 {
  background-color: #BDBDBD;
}

.bg-gray500 {
  background-color: #9E9E9E;
}

.bg-gray600 {
  background-color: #757575;
}

.bg-gray700 {
  background-color: #616161;
}

.bg-gray800 {
  background-color: #424242;
}

.bg-gray900 {
  background-color: #212121;
}

.bg-blueGray50 {
  background-color: #ECEFF1;
}

.bg-blueGray100 {
  background-color: #CFD8DC;
}

.bg-blueGray200 {
  background-color: #B0BEC5;
}

.bg-blueGray300 {
  background-color: #90A4AE;
}

.bg-blueGray400 {
  background-color: #78909C;
}

.bg-blueGray500 {
  background-color: #607D8B;
}

.bg-blueGray600 {
  background-color: #546E7A;
}

.bg-blueGray700 {
  background-color: #455A64;
}

.bg-blueGray800 {
  background-color: #37474F;
}

.bg-blueGray900 {
  background-color: #263238;
}