/* NORMAL BACKGROUND HOVER*/

.bg-red-hover:hover.color-hover
  background-color: #EF5350;

.bg-pink-hover:hover.color-hover
  background-color: #EC407A;

.bg-purple-hover:hover.color-hover
  background-color: #AB47BC;

.bg-deepPurple-hover:hover.color-hover
  background-color: #7E57C2;

.bg-indigo-hover:hover.color-hover
  background-color: #5C6BC0;

.bg-lightBlue-hover:hover.color-hover
  background-color: #29B6F6;

.bg-blue-hover:hover.color-hover
  background-color: #42A5F5;

.bg-cyan-hover:hover.color-hover
  background-color: #26C6DA;

.bg-teal-hover:hover.color-hover
  background-color: #26A69A;

.bg-lightGreen-hover:hover.color-hover
  background-color: #9CCC65;

.bg-green-hover:hover.color-hover
  background-color: #66BB6A;

.bg-lime-hover:hover.color-hover
  background-color: #D4E157;

.bg-yellow-hover:hover.color-hover
  background-color: #FFEE58;

.bg-amber-hover:hover.color-hover
  background-color: #FFCA28;

.bg-orange-hover:hover.color-hover
  background-color: #FFA726;

.bg-deepOrange-hover:hover.color-hover
  background-color: #FF7043;

.bg-brown-hover:hover.color-hover
  background-color: #8D6E63;

.bg-gray-hover:hover.color-hover
  background-color: #BDBDBD;

.bg-blueGray-hover:hover.color-hover
  background-color: #78909C;


/* FLAT BACKGROUND HOVER */

.bg-red-flat-hover:hover.color-hover
  background-color: #FFEBEE;

.bg-pink-flat-hover:hover.color-hover
  background-color: #FCE4EC;

.bg-purple-flat-hover:hover.color-hover
  background-color: #F3E5F5;

.bg-deepPurple-flat-hover:hover.color-hover
  background-color: #EDE7F6;

.bg-indigo-flat-hover:hover.color-hover
  background-color: #E8EAF6;

.bg-lightBlue-flat-hover:hover.color-hover
  background-color: #E1F5FE;

.bg-blue-flat-hover:hover.color-hover
  background-color: #E3F2FD;

.bg-cyan-flat-hover:hover.color-hover
  background-color: #E0F7FA;

.bg-teal-flat-hover:hover.color-hover
  background-color: #E0F2F1;

.bg-lightGreen-flat-hover:hover.color-hover
  background-color: #F1F8E9;

.bg-green-flat-hover:hover.color-hover
  background-color: #E8F5E9;

.bg-lime-flat-hover:hover.color-hover
  background-color: #F9FBE7;

.bg-yellow-flat-hover:hover.color-hover
  background-color: #FFFDE7;

.bg-amber-flat-hover:hover.color-hover
  background-color: #FFF8E1;

.bg-orange-flat-hover:hover.color-hover
  background-color: #FFF3E0;

.bg-deepOrange-flat-hover:hover.color-hover
  background-color: #FBE9E7;

.bg-brown-flat-hover:hover.color-hover
  background-color: #EFEBE9;

.bg-gray-flat-hover:hover.color-hover
  background-color: #F5F5F5;

.bg-blueGray-flat-hover:hover.color-hover
  background-color: #ECEFF1;