.border-red50 {
  border-color: #FFEBEE !important;
}

.border-red100 {
  border-color: #FFCDD2 !important;
}

.border-red200 {
  border-color: #EF9A9A !important;
}

.border-red300 {
  border-color: #E57373 !important;
}

.border-red400 {
  border-color: #EF5350 !important;
}

.border-red500 {
  border-color: #F44336 !important;
}

.border-red600 {
  border-color: #E53935 !important;
}

.border-red700 {
  border-color: #D32F2F !important;
}

.border-red800 {
  border-color: #C62828 !important;
}

.border-red900 {
  border-color: #B71C1C !important;
}

.border-redA100 {
  border-color: #FF8A80 !important;
}

.border-redA200 {
  border-color: #FF5252 !important;
}

.border-redA400 {
  border-color: #FF1744 !important;
}

.border-redA700 {
  border-color: #D50000 !important;
}

.border-pink50 {
  border-color: #FCE4EC !important;
}

.border-pink100 {
  border-color: #F8BBD0 !important;
}

.border-pink200 {
  border-color: #F48FB1 !important;
}

.border-pink300 {
  border-color: #F06292 !important;
}

.border-pink400 {
  border-color: #EC407A !important;
}

.border-pink500 {
  border-color: #E91E63 !important;
}

.border-pink600 {
  border-color: #D81B60 !important;
}

.border-pink700 {
  border-color: #C2185B !important;
}

.border-pink800 {
  border-color: #AD1457 !important;
}

.border-pink900 {
  border-color: #880E4F !important;
}

.border-pinkA100 {
  border-color: #FF80AB !important;
}

.border-pinkA200 {
  border-color: #FF4081 !important;
}

.border-pinkA400 {
  border-color: #F50057 !important;
}

.border-pinkA700 {
  border-color: #C51162 !important;
}

.border-purple50 {
  border-color: #F3E5F5 !important;
}

.border-purple100 {
  border-color: #E1BEE7 !important;
}

.border-purple200 {
  border-color: #CE93D8 !important;
}

.border-purple300 {
  border-color: #BA68C8 !important;
}

.border-purple400 {
  border-color: #AB47BC !important;
}

.border-purple500 {
  border-color: #9C27B0 !important;
}

.border-purple600 {
  border-color: #8E24AA !important;
}

.border-purple700 {
  border-color: #7B1FA2 !important;
}

.border-purple800 {
  border-color: #6A1B9A !important;
}

.border-purple900 {
  border-color: #4A148C !important;
}

.border-purpleA100 {
  border-color: #EA80FC !important;
}

.border-purpleA200 {
  border-color: #E040FB !important;
}

.border-purpleA400 {
  border-color: #D500F9 !important;
}

.border-purpleA700 {
  border-color: #AA00FF !important;
}

.border-deepPurple50 {
  border-color: #EDE7F6 !important;
}

.border-deepPurple100 {
  border-color: #D1C4E9 !important;
}

.border-deepPurple200 {
  border-color: #B39DDB !important;
}

.border-deepPurple300 {
  border-color: #9575CD !important;
}

.border-deepPurple400 {
  border-color: #7E57C2 !important;
}

.border-deepPurple500 {
  border-color: #673AB7 !important;
}

.border-deepPurple600 {
  border-color: #5E35B1 !important;
}

.border-deepPurple700 {
  border-color: #512DA8 !important;
}

.border-deepPurple800 {
  border-color: #4527A0 !important;
}

.border-deepPurple900 {
  border-color: #311B92 !important;
}

.border-deepPurpleA100 {
  border-color: #B388FF !important;
}

.border-deepPurpleA200 {
  border-color: #7C4DFF !important;
}

.border-deepPurpleA400 {
  border-color: #651FFF !important;
}

.border-deepPurpleA700 {
  border-color: #6200EA !important;
}

.border-indigo50 {
  border-color: #E8EAF6 !important;
}

.border-indigo100 {
  border-color: #C5CAE9 !important;
}

.border-indigo200 {
  border-color: #9FA8DA !important;
}

.border-indigo300 {
  border-color: #7986CB !important;
}

.border-indigo400 {
  border-color: #5C6BC0 !important;
}

.border-indigo500 {
  border-color: #3F51B5 !important;
}

.border-indigo600 {
  border-color: #3949AB !important;
}

.border-indigo700 {
  border-color: #303F9F !important;
}

.border-indigo800 {
  border-color: #283593 !important;
}

.border-indigo900 {
  border-color: #1A237E !important;
}

.border-indigoA100 {
  border-color: #8C9EFF !important;
}

.border-indigoA200 {
  border-color: #536DFE !important;
}

.border-indigoA400 {
  border-color: #3D5AFE !important;
}

.border-indigoA700 {
  border-color: #304FFE !important;
}

.border-blue50 {
  border-color: #E3F2FD !important;
}

.border-blue100 {
  border-color: #BBDEFB !important;
}

.border-blue200 {
  border-color: #90CAF9 !important;
}

.border-blue300 {
  border-color: #64B5F6 !important;
}

.border-blue400 {
  border-color: #42A5F5 !important;
}

.border-blue500 {
  border-color: #2196F3 !important;
}

.border-blue600 {
  border-color: #1E88E5 !important;
}

.border-blue700 {
  border-color: #1976D2 !important;
}

.border-blue800 {
  border-color: #1565C0 !important;
}

.border-blue900 {
  border-color: #0D47A1 !important;
}

.border-blueA100 {
  border-color: #82B1FF !important;
}

.border-blueA200 {
  border-color: #448AFF !important;
}

.border-blueA400 {
  border-color: #2979FF !important;
}

.border-blueA700 {
  border-color: #2962FF !important;
}

.border-lightBlue50 {
  border-color: #E1F5FE !important;
}

.border-lightBlue100 {
  border-color: #B3E5FC !important;
}

.border-lightBlue200 {
  border-color: #81D4FA !important;
}

.border-lightBlue300 {
  border-color: #4FC3F7 !important;
}

.border-lightBlue400 {
  border-color: #29B6F6 !important;
}

.border-lightBlue500 {
  border-color: #03A9F4 !important;
}

.border-lightBlue600 {
  border-color: #039BE5 !important;
}

.border-lightBlue700 {
  border-color: #0288D1 !important;
}

.border-lightBlue800 {
  border-color: #0277BD !important;
}

.border-lightBlue900 {
  border-color: #01579B !important;
}

.border-lightBlueA100 {
  border-color: #80D8FF !important;
}

.border-lightBlueA200 {
  border-color: #40C4FF !important;
}

.border-lightBlueA400 {
  border-color: #00B0FF !important;
}

.border-lightBlueA700 {
  border-color: #0091EA !important;
}

.border-cyan50 {
  border-color: #E0F7FA !important;
}

.border-cyan100 {
  border-color: #B2EBF2 !important;
}

.border-cyan200 {
  border-color: #80DEEA !important;
}

.border-cyan300 {
  border-color: #4DD0E1 !important;
}

.border-cyan400 {
  border-color: #26C6DA !important;
}

.border-cyan500 {
  border-color: #00BCD4 !important;
}

.border-cyan600 {
  border-color: #00ACC1 !important;
}

.border-cyan700 {
  border-color: #0097A7 !important;
}

.border-cyan800 {
  border-color: #00838F !important;
}

.border-cyan900 {
  border-color: #006064 !important;
}

.border-cyanA100 {
  border-color: #84FFFF !important;
}

.border-cyanA200 {
  border-color: #18FFFF !important;
}

.border-cyanA400 {
  border-color: #00E5FF !important;
}

.border-cyanA700 {
  border-color: #00B8D4 !important;
}

.border-teal50 {
  border-color: #E0F2F1 !important;
}

.border-teal100 {
  border-color: #B2DFDB !important;
}

.border-teal200 {
  border-color: #80CBC4 !important;
}

.border-teal300 {
  border-color: #4DB6AC !important;
}

.border-teal400 {
  border-color: #26A69A !important;
}

.border-teal500 {
  border-color: #009688 !important;
}

.border-teal600 {
  border-color: #00897B !important;
}

.border-teal700 {
  border-color: #00796B !important;
}

.border-teal800 {
  border-color: #00695C !important;
}

.border-teal900 {
  border-color: #004D40 !important;
}

.border-tealA100 {
  border-color: #A7FFEB !important;
}

.border-tealA200 {
  border-color: #64FFDA !important;
}

.border-tealA400 {
  border-color: #1DE9B6 !important;
}

.border-tealA700 {
  border-color: #00BFA5 !important;
}

.border-green50 {
  border-color: #E8F5E9 !important;
}

.border-green100 {
  border-color: #C8E6C9 !important;
}

.border-green200 {
  border-color: #A5D6A7 !important;
}

.border-green300 {
  border-color: #81C784 !important;
}

.border-green400 {
  border-color: #66BB6A !important;
}

.border-green500 {
  border-color: #4CAF50 !important;
}

.border-green600 {
  border-color: #43A047 !important;
}

.border-green700 {
  border-color: #388E3C !important;
}

.border-green800 {
  border-color: #2E7D32 !important;
}

.border-green900 {
  border-color: #1B5E20 !important;
}

.border-greenA100 {
  border-color: #B9F6CA !important;
}

.border-greenA200 {
  border-color: #69F0AE !important;
}

.border-greenA400 {
  border-color: #00E676 !important;
}

.border-greenA700 {
  border-color: #00C853 !important;
}

.border-lightGreen50 {
  border-color: #F1F8E9 !important;
}

.border-lightGreen100 {
  border-color: #DCEDC8 !important;
}

.border-lightGreen200 {
  border-color: #C5E1A5 !important;
}

.border-lightGreen300 {
  border-color: #AED581 !important;
}

.border-lightGreen400 {
  border-color: #9CCC65 !important;
}

.border-lightGreen500 {
  border-color: #8BC34A !important;
}

.border-lightGreen600 {
  border-color: #7CB342 !important;
}

.border-lightGreen700 {
  border-color: #689F38 !important;
}

.border-lightGreen800 {
  border-color: #558B2F !important;
}

.border-lightGreen900 {
  border-color: #33691E !important;
}

.border-lightGreenA100 {
  border-color: #CCFF90 !important;
}

.border-lightGreenA200 {
  border-color: #B2FF59 !important;
}

.border-lightGreenA400 {
  border-color: #76FF03 !important;
}

.border-lightGreenA700 {
  border-color: #64DD17 !important;
}

.border-lime50 {
  border-color: #F9FBE7 !important;
}

.border-lime100 {
  border-color: #F0F4C3 !important;
}

.border-lime200 {
  border-color: #E6EE9C !important;
}

.border-lime300 {
  border-color: #DCE775 !important;
}

.border-lime400 {
  border-color: #D4E157 !important;
}

.border-lime500 {
  border-color: #CDDC39 !important;
}

.border-lime600 {
  border-color: #C0CA33 !important;
}

.border-lime700 {
  border-color: #AFB42B !important;
}

.border-lime800 {
  border-color: #9E9D24 !important;
}

.border-lime900 {
  border-color: #827717 !important;
}

.border-limeA100 {
  border-color: #F4FF81 !important;
}

.border-limeA200 {
  border-color: #EEFF41 !important;
}

.border-limeA400 {
  border-color: #C6FF00 !important;
}

.border-limeA700 {
  border-color: #AEEA00 !important;
}

.border-yellow50 {
  border-color: #FFFDE7 !important;
}

.border-yellow100 {
  border-color: #FFF9C4 !important;
}

.border-yellow200 {
  border-color: #FFF59D !important;
}

.border-yellow300 {
  border-color: #FFF176 !important;
}

.border-yellow400 {
  border-color: #FFEE58 !important;
}

.border-yellow500 {
  border-color: #FFEB3B !important;
}

.border-yellow600 {
  border-color: #FDD835 !important;
}

.border-yellow700 {
  border-color: #FBC02D !important;
}

.border-yellow800 {
  border-color: #F9A825 !important;
}

.border-yellow900 {
  border-color: #F57F17 !important;
}

.border-yellowA100 {
  border-color: #FFFF8D !important;
}

.border-yellowA200 {
  border-color: #FFFF00 !important;
}

.border-yellowA400 {
  border-color: #FFEA00 !important;
}

.border-yellowA700 {
  border-color: #FFD600 !important;
}

.border-amber50 {
  border-color: #FFF8E1 !important;
}

.border-amber100 {
  border-color: #FFECB3 !important;
}

.border-amber200 {
  border-color: #FFE082 !important;
}

.border-amber300 {
  border-color: #FFD54F !important;
}

.border-amber400 {
  border-color: #FFCA28 !important;
}

.border-amber500 {
  border-color: #FFC107 !important;
}

.border-amber600 {
  border-color: #FFB300 !important;
}

.border-amber700 {
  border-color: #FFA000 !important;
}

.border-amber800 {
  border-color: #FF8F00 !important;
}

.border-amber900 {
  border-color: #FF6F00 !important;
}

.border-amberA100 {
  border-color: #FFE57F !important;
}

.border-amberA200 {
  border-color: #FFD740 !important;
}

.border-amberA400 {
  border-color: #FFC400 !important;
}

.border-amberA700 {
  border-color: #FFAB00 !important;
}

.border-orange50 {
  border-color: #FFF3E0 !important;
}

.border-orange100 {
  border-color: #FFE0B2 !important;
}

.border-orange200 {
  border-color: #FFCC80 !important;
}

.border-orange300 {
  border-color: #FFB74D !important;
}

.border-orange400 {
  border-color: #FFA726 !important;
}

.border-orange500 {
  border-color: #FF9800 !important;
}

.border-orange600 {
  border-color: #FB8C00 !important;
}

.border-orange700 {
  border-color: #F57C00 !important;
}

.border-orange800 {
  border-color: #EF6C00 !important;
}

.border-orange900 {
  border-color: #E65100 !important;
}

.border-orangeA100 {
  border-color: #FFD180 !important;
}

.border-orangeA200 {
  border-color: #FFAB40 !important;
}

.border-orangeA400 {
  border-color: #FF9100 !important;
}

.border-orangeA700 {
  border-color: #FF6D00 !important;
}

.border-deepOrange50 {
  border-color: #FBE9E7 !important;
}

.border-deepOrange100 {
  border-color: #FFCCBC !important;
}

.border-deepOrange200 {
  border-color: #FFAB91 !important;
}

.border-deepOrange300 {
  border-color: #FF8A65 !important;
}

.border-deepOrange400 {
  border-color: #FF7043 !important;
}

.border-deepOrange500 {
  border-color: #FF5722 !important;
}

.border-deepOrange600 {
  border-color: #F4511E !important;
}

.border-deepOrange700 {
  border-color: #E64A19 !important;
}

.border-deepOrange800 {
  border-color: #D84315  !important;
}

.border-deepOrange900 {
  border-color: #BF360C !important;
}

.border-deepOrangeA100 {
  border-color: #FF9E80 !important;
}

.border-deepOrangeA200 {
  border-color: #FF6E40 !important;
}

.border-deepOrangeA400 {
  border-color: #FF3D00 !important;
}

.border-deepOrangeA700 {
  border-color: #DD2C00 !important;
}

.border-brown50 {
  border-color: #EFEBE9 !important;
}

.border-brown100 {
  border-color: #D7CCC8 !important;
}

.border-brown200 {
  border-color: #BCAAA4 !important;
}

.border-brown300 {
  border-color: #A1887F !important;
}

.border-brown400 {
  border-color: #8D6E63 !important;
}

.border-brown500 {
  border-color: #795548 !important;
}

.border-brown600 {
  border-color: #6D4C41 !important;
}

.border-brown700 {
  border-color: #5D4037 !important;
}

.border-brown800 {
  border-color: #4E342E !important;
}

.border-brown900 {
  border-color: #3E2723 !important;
}

.border-gray50 {
  border-color: #FAFAFA !important;
}

.border-gray100 {
  border-color: #F5F5F5 !important;
}

.border-gray200 {
  border-color: #EEEEEE !important;
}

.border-gray300 {
  border-color: #E0E0E0 !important;
}

.border-gray400 {
  border-color: #BDBDBD !important;
}

.border-gray500 {
  border-color: #9E9E9E !important;
}

.border-gray600 {
  border-color: #757575 !important;
}

.border-gray700 {
  border-color: #616161 !important;
}

.border-gray800 {
  border-color: #424242 !important;
}

.border-gray900 {
  border-color: #212121 !important;
}

.border-blueGray50 {
  border-color: #ECEFF1 !important;
}

.border-blueGray100 {
  border-color: #CFD8DC !important;
}

.border-blueGray200 {
  border-color: #B0BEC5 !important;
}

.border-blueGray300 {
  border-color: #90A4AE !important;
}

.border-blueGray400 {
  border-color: #78909C !important;
}

.border-blueGray500 {
  border-color: #607D8B !important;
}

.border-blueGray600 {
  border-color: #546E7A !important;
}

.border-blueGray700 {
  border-color: #455A64 !important;
}

.border-blueGray800 {
  border-color: #37474F !important;
}

.border-blueGray900 {
  border-color: #263238 !important;
}