.border-red50 {
  border-color: #FFEBEE;
}

.border-red100 {
  border-color: #FFCDD2;
}

.border-red200 {
  border-color: #EF9A9A;
}

.border-red300 {
  border-color: #E57373;
}

.border-red400 {
  border-color: #EF5350;
}

.border-red500 {
  border-color: #F44336;
}

.border-red600 {
  border-color: #E53935;
}

.border-red700 {
  border-color: #D32F2F;
}

.border-red800 {
  border-color: #C62828;
}

.border-red900 {
  border-color: #B71C1C;
}

.border-redA100 {
  border-color: #FF8A80;
}

.border-redA200 {
  border-color: #FF5252;
}

.border-redA400 {
  border-color: #FF1744;
}

.border-redA700 {
  border-color: #D50000;
}

.border-pink50 {
  border-color: #FCE4EC;
}

.border-pink100 {
  border-color: #F8BBD0;
}

.border-pink200 {
  border-color: #F48FB1;
}

.border-pink300 {
  border-color: #F06292;
}

.border-pink400 {
  border-color: #EC407A;
}

.border-pink500 {
  border-color: #E91E63;
}

.border-pink600 {
  border-color: #D81B60;
}

.border-pink700 {
  border-color: #C2185B;
}

.border-pink800 {
  border-color: #AD1457;
}

.border-pink900 {
  border-color: #880E4F;
}

.border-pinkA100 {
  border-color: #FF80AB;
}

.border-pinkA200 {
  border-color: #FF4081;
}

.border-pinkA400 {
  border-color: #F50057;
}

.border-pinkA700 {
  border-color: #C51162;
}

.border-purple50 {
  border-color: #F3E5F5;
}

.border-purple100 {
  border-color: #E1BEE7;
}

.border-purple200 {
  border-color: #CE93D8;
}

.border-purple300 {
  border-color: #BA68C8;
}

.border-purple400 {
  border-color: #AB47BC;
}

.border-purple500 {
  border-color: #9C27B0;
}

.border-purple600 {
  border-color: #8E24AA;
}

.border-purple700 {
  border-color: #7B1FA2;
}

.border-purple800 {
  border-color: #6A1B9A;
}

.border-purple900 {
  border-color: #4A148C;
}

.border-purpleA100 {
  border-color: #EA80FC;
}

.border-purpleA200 {
  border-color: #E040FB;
}

.border-purpleA400 {
  border-color: #D500F9;
}

.border-purpleA700 {
  border-color: #AA00FF;
}

.border-deepPurple50 {
  border-color: #EDE7F6;
}

.border-deepPurple100 {
  border-color: #D1C4E9;
}

.border-deepPurple200 {
  border-color: #B39DDB;
}

.border-deepPurple300 {
  border-color: #9575CD;
}

.border-deepPurple400 {
  border-color: #7E57C2;
}

.border-deepPurple500 {
  border-color: #673AB7;
}

.border-deepPurple600 {
  border-color: #5E35B1;
}

.border-deepPurple700 {
  border-color: #512DA8;
}

.border-deepPurple800 {
  border-color: #4527A0;
}

.border-deepPurple900 {
  border-color: #311B92;
}

.border-deepPurpleA100 {
  border-color: #B388FF;
}

.border-deepPurpleA200 {
  border-color: #7C4DFF;
}

.border-deepPurpleA400 {
  border-color: #651FFF;
}

.border-deepPurpleA700 {
  border-color: #6200EA;
}

.border-indigo50 {
  border-color: #E8EAF6;
}

.border-indigo100 {
  border-color: #C5CAE9;
}

.border-indigo200 {
  border-color: #9FA8DA;
}

.border-indigo300 {
  border-color: #7986CB;
}

.border-indigo400 {
  border-color: #5C6BC0;
}

.border-indigo500 {
  border-color: #3F51B5;
}

.border-indigo600 {
  border-color: #3949AB;
}

.border-indigo700 {
  border-color: #303F9F;
}

.border-indigo800 {
  border-color: #283593;
}

.border-indigo900 {
  border-color: #1A237E;
}

.border-indigoA100 {
  border-color: #8C9EFF;
}

.border-indigoA200 {
  border-color: #536DFE;
}

.border-indigoA400 {
  border-color: #3D5AFE;
}

.border-indigoA700 {
  border-color: #304FFE;
}

.border-blue50 {
  border-color: #E3F2FD;
}

.border-blue100 {
  border-color: #BBDEFB;
}

.border-blue200 {
  border-color: #90CAF9;
}

.border-blue300 {
  border-color: #64B5F6;
}

.border-blue400 {
  border-color: #42A5F5;
}

.border-blue500 {
  border-color: #2196F3;
}

.border-blue600 {
  border-color: #1E88E5;
}

.border-blue700 {
  border-color: #1976D2;
}

.border-blue800 {
  border-color: #1565C0;
}

.border-blue900 {
  border-color: #0D47A1;
}

.border-blueA100 {
  border-color: #82B1FF;
}

.border-blueA200 {
  border-color: #448AFF;
}

.border-blueA400 {
  border-color: #2979FF;
}

.border-blueA700 {
  border-color: #2962FF;
}

.border-lightBlue50 {
  border-color: #E1F5FE;
}

.border-lightBlue100 {
  border-color: #B3E5FC;
}

.border-lightBlue200 {
  border-color: #81D4FA;
}

.border-lightBlue300 {
  border-color: #4FC3F7;
}

.border-lightBlue400 {
  border-color: #29B6F6;
}

.border-lightBlue500 {
  border-color: #03A9F4;
}

.border-lightBlue600 {
  border-color: #039BE5;
}

.border-lightBlue700 {
  border-color: #0288D1;
}

.border-lightBlue800 {
  border-color: #0277BD;
}

.border-lightBlue900 {
  border-color: #01579B;
}

.border-lightBlueA100 {
  border-color: #80D8FF;
}

.border-lightBlueA200 {
  border-color: #40C4FF;
}

.border-lightBlueA400 {
  border-color: #00B0FF;
}

.border-lightBlueA700 {
  border-color: #0091EA;
}

.border-cyan50 {
  border-color: #E0F7FA;
}

.border-cyan100 {
  border-color: #B2EBF2;
}

.border-cyan200 {
  border-color: #80DEEA;
}

.border-cyan300 {
  border-color: #4DD0E1;
}

.border-cyan400 {
  border-color: #26C6DA;
}

.border-cyan500 {
  border-color: #00BCD4;
}

.border-cyan600 {
  border-color: #00ACC1;
}

.border-cyan700 {
  border-color: #0097A7;
}

.border-cyan800 {
  border-color: #00838F;
}

.border-cyan900 {
  border-color: #006064;
}

.border-cyanA100 {
  border-color: #84FFFF;
}

.border-cyanA200 {
  border-color: #18FFFF;
}

.border-cyanA400 {
  border-color: #00E5FF;
}

.border-cyanA700 {
  border-color: #00B8D4;
}

.border-teal50 {
  border-color: #E0F2F1;
}

.border-teal100 {
  border-color: #B2DFDB;
}

.border-teal200 {
  border-color: #80CBC4;
}

.border-teal300 {
  border-color: #4DB6AC;
}

.border-teal400 {
  border-color: #26A69A;
}

.border-teal500 {
  border-color: #009688;
}

.border-teal600 {
  border-color: #00897B;
}

.border-teal700 {
  border-color: #00796B;
}

.border-teal800 {
  border-color: #00695C;
}

.border-teal900 {
  border-color: #004D40;
}

.border-tealA100 {
  border-color: #A7FFEB;
}

.border-tealA200 {
  border-color: #64FFDA;
}

.border-tealA400 {
  border-color: #1DE9B6;
}

.border-tealA700 {
  border-color: #00BFA5;
}

.border-green50 {
  border-color: #E8F5E9;
}

.border-green100 {
  border-color: #C8E6C9;
}

.border-green200 {
  border-color: #A5D6A7;
}

.border-green300 {
  border-color: #81C784;
}

.border-green400 {
  border-color: #66BB6A;
}

.border-green500 {
  border-color: #4CAF50;
}

.border-green600 {
  border-color: #43A047;
}

.border-green700 {
  border-color: #388E3C;
}

.border-green800 {
  border-color: #2E7D32;
}

.border-green900 {
  border-color: #1B5E20;
}

.border-greenA100 {
  border-color: #B9F6CA;
}

.border-greenA200 {
  border-color: #69F0AE;
}

.border-greenA400 {
  border-color: #00E676;
}

.border-greenA700 {
  border-color: #00C853;
}

.border-lightGreen50 {
  border-color: #F1F8E9;
}

.border-lightGreen100 {
  border-color: #DCEDC8;
}

.border-lightGreen200 {
  border-color: #C5E1A5;
}

.border-lightGreen300 {
  border-color: #AED581;
}

.border-lightGreen400 {
  border-color: #9CCC65;
}

.border-lightGreen500 {
  border-color: #8BC34A;
}

.border-lightGreen600 {
  border-color: #7CB342;
}

.border-lightGreen700 {
  border-color: #689F38;
}

.border-lightGreen800 {
  border-color: #558B2F;
}

.border-lightGreen900 {
  border-color: #33691E;
}

.border-lightGreenA100 {
  border-color: #CCFF90;
}

.border-lightGreenA200 {
  border-color: #B2FF59;
}

.border-lightGreenA400 {
  border-color: #76FF03;
}

.border-lightGreenA700 {
  border-color: #64DD17;
}

.border-lime50 {
  border-color: #F9FBE7;
}

.border-lime100 {
  border-color: #F0F4C3;
}

.border-lime200 {
  border-color: #E6EE9C;
}

.border-lime300 {
  border-color: #DCE775;
}

.border-lime400 {
  border-color: #D4E157;
}

.border-lime500 {
  border-color: #CDDC39;
}

.border-lime600 {
  border-color: #C0CA33;
}

.border-lime700 {
  border-color: #AFB42B;
}

.border-lime800 {
  border-color: #9E9D24;
}

.border-lime900 {
  border-color: #827717;
}

.border-limeA100 {
  border-color: #F4FF81;
}

.border-limeA200 {
  border-color: #EEFF41;
}

.border-limeA400 {
  border-color: #C6FF00;
}

.border-limeA700 {
  border-color: #AEEA00;
}

.border-yellow50 {
  border-color: #FFFDE7;
}

.border-yellow100 {
  border-color: #FFF9C4;
}

.border-yellow200 {
  border-color: #FFF59D;
}

.border-yellow300 {
  border-color: #FFF176;
}

.border-yellow400 {
  border-color: #FFEE58;
}

.border-yellow500 {
  border-color: #FFEB3B;
}

.border-yellow600 {
  border-color: #FDD835;
}

.border-yellow700 {
  border-color: #FBC02D;
}

.border-yellow800 {
  border-color: #F9A825;
}

.border-yellow900 {
  border-color: #F57F17;
}

.border-yellowA100 {
  border-color: #FFFF8D;
}

.border-yellowA200 {
  border-color: #FFFF00;
}

.border-yellowA400 {
  border-color: #FFEA00;
}

.border-yellowA700 {
  border-color: #FFD600;
}

.border-amber50 {
  border-color: #FFF8E1;
}

.border-amber100 {
  border-color: #FFECB3;
}

.border-amber200 {
  border-color: #FFE082;
}

.border-amber300 {
  border-color: #FFD54F;
}

.border-amber400 {
  border-color: #FFCA28;
}

.border-amber500 {
  border-color: #FFC107;
}

.border-amber600 {
  border-color: #FFB300;
}

.border-amber700 {
  border-color: #FFA000;
}

.border-amber800 {
  border-color: #FF8F00;
}

.border-amber900 {
  border-color: #FF6F00;
}

.border-amberA100 {
  border-color: #FFE57F;
}

.border-amberA200 {
  border-color: #FFD740;
}

.border-amberA400 {
  border-color: #FFC400;
}

.border-amberA700 {
  border-color: #FFAB00;
}

.border-orange50 {
  border-color: #FFF3E0;
}

.border-orange100 {
  border-color: #FFE0B2;
}

.border-orange200 {
  border-color: #FFCC80;
}

.border-orange300 {
  border-color: #FFB74D;
}

.border-orange400 {
  border-color: #FFA726;
}

.border-orange500 {
  border-color: #FF9800;
}

.border-orange600 {
  border-color: #FB8C00;
}

.border-orange700 {
  border-color: #F57C00;
}

.border-orange800 {
  border-color: #EF6C00;
}

.border-orange900 {
  border-color: #E65100;
}

.border-orangeA100 {
  border-color: #FFD180;
}

.border-orangeA200 {
  border-color: #FFAB40;
}

.border-orangeA400 {
  border-color: #FF9100;
}

.border-orangeA700 {
  border-color: #FF6D00;
}

.border-deepOrange50 {
  border-color: #FBE9E7;
}

.border-deepOrange100 {
  border-color: #FFCCBC;
}

.border-deepOrange200 {
  border-color: #FFAB91;
}

.border-deepOrange300 {
  border-color: #FF8A65;
}

.border-deepOrange400 {
  border-color: #FF7043;
}

.border-deepOrange500 {
  border-color: #FF5722;
}

.border-deepOrange600 {
  border-color: #F4511E;
}

.border-deepOrange700 {
  border-color: #E64A19;
}

.border-deepOrange800 {
  border-color: #D84315;
}

.border-deepOrange900 {
  border-color: #BF360C;
}

.border-deepOrangeA100 {
  border-color: #FF9E80;
}

.border-deepOrangeA200 {
  border-color: #FF6E40;
}

.border-deepOrangeA400 {
  border-color: #FF3D00;
}

.border-deepOrangeA700 {
  border-color: #DD2C00;
}

.border-brown50 {
  border-color: #EFEBE9;
}

.border-brown100 {
  border-color: #D7CCC8;
}

.border-brown200 {
  border-color: #BCAAA4;
}

.border-brown300 {
  border-color: #A1887F;
}

.border-brown400 {
  border-color: #8D6E63;
}

.border-brown500 {
  border-color: #795548;
}

.border-brown600 {
  border-color: #6D4C41;
}

.border-brown700 {
  border-color: #5D4037;
}

.border-brown800 {
  border-color: #4E342E;
}

.border-brown900 {
  border-color: #3E2723;
}

.border-gray50 {
  border-color: #FAFAFA;
}

.border-gray100 {
  border-color: #F5F5F5;
}

.border-gray200 {
  border-color: #EEEEEE;
}

.border-gray300 {
  border-color: #E0E0E0;
}

.border-gray400 {
  border-color: #BDBDBD;
}

.border-gray500 {
  border-color: #9E9E9E;
}

.border-gray600 {
  border-color: #757575;
}

.border-gray700 {
  border-color: #616161;
}

.border-gray800 {
  border-color: #424242;
}

.border-gray900 {
  border-color: #212121;
}

.border-blueGray50 {
  border-color: #ECEFF1;
}

.border-blueGray100 {
  border-color: #CFD8DC;
}

.border-blueGray200 {
  border-color: #B0BEC5;
}

.border-blueGray300 {
  border-color: #90A4AE;
}

.border-blueGray400 {
  border-color: #78909C;
}

.border-blueGray500 {
  border-color: #607D8B;
}

.border-blueGray600 {
  border-color: #546E7A;
}

.border-blueGray700 {
  border-color: #455A64;
}

.border-blueGray800 {
  border-color: #37474F;
}

.border-blueGray900 {
  border-color: #263238;
}