/*
  Text Alignment
*/

.text-left
  text-align  left

.text-right
  text-align  right

.text-center
  text-align  center

.text-justify
  text-align  justify

/*
  Sizes
*/

.full-width
  width 100%

.full-height
	height 100%

.full-size
  width 100%
  height 100%

.window-width
  min-width 100vw

.window-height
  min-height 100vh

.full-viewport
  min-width 100vw
  min-height 100vh

/*
  Mouse
*/

.no-user-select {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */  
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;  
}

.cursor-pointer
  cursor pointer

.overflow-hidden
  overflow: hidden

/*
colors
*/

.text-white
  color: white
