/*
  POSITIONS
*/
.position-static
  position static

.position-relative
  position  relative

.position-absolute
  position absolute

.position-fixed
  position fixed

/*
  BOTTOM POSITIONS
*/

.bottom-left {
  bottom: 0px;
  left: 0px;
}

.bottom-left-absolute {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.bottom-left-fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.bottom-right {
  bottom: 0px;
  right: 0px;
}

.bottom-right-absolute {
  position:  absolute;
  bottom: 0px;
  right: 0px;
}

.bottom-right-fixed {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

/*
  TOP POSITIONS
*/

.top-left {
  top: 0px;
  left: 0px;
}

.top-left-absolute {
  position: absolute;
  top: 0px;
  left: 0px;
}

.top-left-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
}

.top-right {
  top: 0px;
  right: 0px;
}

.top-right-absolute {
  position:  absolute;
  top: 0px;
  right: 0px;
}

.top-right-fixed {
  position: fixed;
  top: 0px;
  right: 0px;
}