
/*
  POSITIONS
*/

:root {
  --zero-position: 0;
  --rel: relative;
  --sta: static;
  --abs: absolute;
  --fix: fixed;
  --stk: sticky;
}

.position-static, .h-pos-st
  position var(--sta)

.position-relative, .h-pos-rel
  position  var(--rel)

.position-absolute, .h-pos-abs
  position var(--abs)

.position-fixed, .h-pos-fix
  position var(--fix)

.position-sticky, .h-pos-stk
  position -webkit-sticky
  position var(--stk)
  top var(--zero-position)

/*
LEFT AND RIGHT POSITIONS
*/

.left-absolute, .h-pos-abs-l
  position var(--abs)
  left var(--zero-position)


.right-absolute, .h-pos-abs-r
  position  var(--abs)
  right var(--zero-position)

/*
  TOP POSITIONS
*/

.top-left-relative, .h-pos-rel-tl
  position var(--rel);
  top var(--zero-position)
  left var(--zero-position)

.top-left-absolute, .h-pos-abs-tl
  position var(--abs);
  top var(--zero-position)
  left var(--zero-position)

.top-left-fixed, .h-pos-fix-tl
  position var(--fix);
  top var(--zero-position)
  left var(--zero-position)

.top-right-relative, .h-pos-rel-tr
  top var(--zero-position)
  right var(--zero-position)

.top-right-absolute, .h-pos-abs-tr
  position  var(--abs)
  top var(--zero-position)
  right var(--zero-position)

.top-right-fixed, .h-pos-fix-tr
  position var(--fix);
  top var(--zero-position)
  right var(--zero-position)

/*
  BOTTOM POSITIONS
*/

.bottom-left-relative, .h-pos-rel-bl
  position var(--rel)
  bottom var(--zero-position)
  left var(--zero-position)

.bottom-left-absolute, .h-pos-abs-bl
  position var(--abs)
  bottom var(--zero-position)
  left var(--zero-position)

.bottom-left-fixed, .h-pos-fix-bl
  position  var(--fix)
  bottom var(--zero-position)
  left  var(--zero-position)

.bottom-right-relative, .h-pos-rel-br
  position var(--rel)
  bottom var(--zero-position)
  right var(--zero-position)

.bottom-right-absolute, .h-pos-abs-br
  position var(--abs)
  bottom var(--zero-position)
  right var(--zero-position)

.bottom-right-fixed, .h-pos-fix-br
  position var(--fix)
  bottom var(--zero-position)
  right var(--zero-position)
