$xs = 4px
$sm = 8px
$md = 12px
$lg = 24px
$xl = 48px

/*
  XS MARGINS
*/
.h-ma-xs
  margin  $xs

.h-mt-xs
  margin-top  $xs

.h-mb-xs
  margin-bottom $xs

.h-ml-xs
  margin-left $xs

.h-mr-xs
  margin-right $xs

/*
  SM MARGINS
*/

.h-ma-sm
  margin  $sm

.h-mt-sm
  margin-top  $sm

.h-mb-sm
  margin-bottom $sm

.h-ml-sm
  margin-left $sm

.h-mr-sm
  margin-right  $sm

/*
  MD MARGINS
*/

.h-ma-md
  margin  $md

.h-mt-md
  margin-top  $md

.h-mb-md
  margin-bottom $md

.h-ml-md
  margin-left $md

.h-mr-md
  margin-right  $md

/*
  LG MARGINS
*/

.h-ma-lg
  margin  $lg

.h-mt-lg
  margin-top  $lg

.h-mb-lg
  margin-bottom $lg

.h-ml-lg
  margin-left $lg

.h-mr-lg
  margin-right  $lg

/*
  XL MARGINS
*/

.h-ma-xl
  margin  $xl

.h-mt-xl
  margin-top  $xl

.h-mb-xl
  margin-bottom $xl

.h-ml-xl
  margin-left $xl

.h-mr-xl
  margin-right  $xl

/*
  XS PADDINGS
*/

.h-pa-xs
  padding $xs

.h-pt-xs
  padding-top $xs

.h-pb-xs
  padding-bottom  $xs

.h-pl-xs
  padding-left  $xs

.h-pr-xs
  padding-right $xs

/*
  SM PADDINGS
*/

.h-pa-sm
  padding $sm

.h-pt-sm
  padding-top $sm

.h-pb-sm
  padding-bottom  $sm

.h-pl-sm
  padding-left  $sm

.h-pr-sm
  padding-right $sm

/*
  MD PADDINGS
*/

.h-pa-md
  padding $md

.h-pt-md
  padding-top $md

.h-pb-md
  padding-bottom  $md

.h-pl-md
  padding-left  $md

.h-pr-md
  padding-right $md

/*
  LG PADDINGS
*/

.h-pa-lg
  padding $lg

.h-pt-lg
  padding-top $lg

.h-pb-lg
  padding-bottom  $lg

.h-pl-lg
  padding-left  $lg

.h-pr-lg
  padding-right $lg

/*
  XL PADDINGS
*/

.h-pa-xl
  padding $xl

.h-pt-xl
  padding-top $xl

.h-pb-xl
  padding-bottom  $xl

.h-pl-xl
  padding-left  $xl

.h-pr-xl
  padding-right $xl
