.text-h1 {
  font-size: 96px;
  letter-spacing: -1.5px;
}

.text-h2 {
  font-size: 60px;
  letter-spacing: -0.5px;
}

.text-h3 {
  font-size: 48px;
  letter-spacing: 0px;
  font-weight: 600;
}

.text-h4 {
  font-size: 34px;
  letter-spacing: -1.5px;
  font-weight: 600;
}

.text-h5 {
  font-size: 24px;
  letter-spacing: -1.5px;
}

.text-h6 {
  font-size: 20px;
  letter-spacing: -1.5px;
  font-weight: 600;
}

.text-subtitle1 {
  font-size: 16px;
  letter-spacing: 0.15px;
}

.text-subtitle2 {
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 600;
}

.text-body1 {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.text-body2 {
  font-size: 14px;
  letter-spacing: 0.25px;
}

.text-caption {
  font-size: 12px;
  letter-spacing: 0.4px;
}

.text-overline {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
}
