/* show an element when screen are 640px or less */
@media screen and (min-width: 0px) and (max-width: 640px) {
  .xs { display: block; }
  #xs { display: block; }
}

/* hide an element when screen are 641px or higher */
@media screen and (min-width: 641px) {
  #xs { display: none; }
  .xs { display: none; }
}

@media screen and (min-width: 0px) and (max-width: 960px) {
  #sm { display: block; }
  .sm { display: block; }
}

@media screen and (min-width: 961px) {
  #sm { display: none; }
  .sm { display: none; }
}

@media screen and (min-width: 0px) and (max-width: 1440px) {
  #md { display: block; }
  .md { display: block; }
}

@media screen and (min-width: 1441px) {
  #md { display: none; }
  .md { display: none; }
}

@media screen and (min-width: 0px) and (max-width: 1920px) {
  #lg { display: block; }
  .lg { display: block; }
}

@media screen and (min-width: 1921px) {
  #lg { display: none; }
  .lg { display: none; }
}

/*
  HIGHER THAN
*/

@media screen and (max-width: 640px) {
  .gt-xs { display: none; }
  #gt-xs { display: none; }
}

@media screen and (min-width: 641px) {
  .gt-xs { display: block; }
  #gt-xs { display: block; }
}

@media screen and (max-width: 960px) {
  #gt-sm { display: none; }
  .gt-sm { display: none; }
}

@media screen and (min-width: 961px) {
  #gt-sm { display: block; }
  .gt-sm { display: block; }
}

@media screen and (max-width: 1440px) {
  #gt-md { display: none; }
  .gt-md { display: none; }
}

@media screen and (min-width: 1441px) {
  .gt-md { display: block; }
  #gt-md { display: block; }
}

@media screen and (max-width: 1920px) {
  #gt-lg { display: none; }
  .gt-lg { display: none; }
}

@media screen and (min-width: 1921px) {
  #gt-lg { display: block; }
  .gt-lg { display: block; }
}

/*
 LESS THAN
*/

@media screen and (max-width: 640px) {
  .lt-sm { display: block; }
  #lt-sm { display: block; }
}

@media screen and (min-width: 641px) {
  .lt-sm { display: none; }
  #lt-sm { display: none; }
}

@media screen and (max-width: 960px) {
  #lt-md { display: block; }
  .lt-md { display: block; }
}

@media screen and (min-width: 961px) {
  #lt-md { display: none; }
  .lt-md { display: none; }
}

@media screen and (max-width: 1440px) {
  #lt-lg { display: block; }
  .lt-lg { display: block; }
}

@media screen and (min-width: 1441px) {
  .lt-lg { display: none; }
  #lt-lg { display: none; }
}

@media screen and (max-width: 1920px) {
  #lt-xl { display: block; }
  .lt-xl { display: block; }
}

@media screen and (min-width: 1921px) {
  #lt-xl { display: none; }
  .lt-xl { display: none; }
}

/* XS */
@media screen and (max-width: 640px) {
  .col-xs-1 {width: 8.33%;}
  .col-xs-2 {width: 16.66%;}
  .col-xs-3 {width: 25%;}
  .col-xs-4 {width: 33.33%;}
  .col-xs-5 {width: 41.66%;}
  .col-xs-6 {width: 50%;}
  .col-xs-7 {width: 58.33%;}
  .col-xs-8 {width: 66.66%;}
  .col-xs-9 {width: 75%;}
  .col-xs-10 {width: 83.33%;}
  .col-xs-11 {width: 91.66%;}
  .col-xs-12 {width: 640px;}
}

/* SM */
@media screen and (min-width: 641px) and (max-width: 960px) {
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 960px;}
}

/* MD */
@media screen and (min-width: 961px) and (max-width: 1440px) {
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 1440px;}
}

/* LG */
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 1920px;}
}

/* XL */
@media screen and (min-width: 1921px) {
  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}
}