// .progress-bar {
//     width: 450px;
//     border-radius: 5px;
//     box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
// }

// .stripes {
//     background-size: 25px 25px;
//     background-image: linear-gradient(
//         135deg,
//         rgba(255, 255, 255, .15) 25%,
//         transparent 25%,
//         transparent 50%,
//         rgba(255, 255, 255, .15) 50%,
//         rgba(255, 255, 255, .15) 75%,
//         transparent 75%,
//         transparent
//     );
// }

// .stripes.animated {
//   animation: animate-stripes 0.6s linear infinite;
// }

// .stripes.animated.slower {
//   animation-duration: 1.25s;
// }

// .stripes.reverse {
//   animation-direction: reverse;
// }

// .progress-bar-inner {
//   display: block;
//   height: 100%;
//   width: 40%;
//   border-radius: 3px;
//   box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
//   position: relative;
// }

.progress-bar {
  background-color: lightgray;
  // height: 25px;
  width: 450px;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.stripes {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.stripes.animated {
  animation: animate-stripes 0.6s linear infinite;
}

.stripes.animated.slower {
  animation-duration: 1.25s;
}

.stripes.reverse {
  animation-direction: reverse;
}

.progress-bar-inner {
  display: block;
  height: 45px;
  width: 0%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  position: relative;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}


.progress-bar-inner.p1.animated {
   animation: auto-progress-p1 3s infinite linear; 
}

@keyframes auto-progress-p1 {
  0% {
    width: 0%;
  }

  100% {
    width: 1%;
  }
}


.progress-bar-inner.p2.animated {
   animation: auto-progress-p2 3s infinite linear; 
}

@keyframes auto-progress-p2 {
  0% {
    width: 0%;
  }

  100% {
    width: 2%;
  }
}


.progress-bar-inner.p3.animated {
   animation: auto-progress-p3 3s infinite linear; 
}

@keyframes auto-progress-p3 {
  0% {
    width: 0%;
  }

  100% {
    width: 3%;
  }
}


.progress-bar-inner.p4.animated {
   animation: auto-progress-p4 3s infinite linear; 
}

@keyframes auto-progress-p4 {
  0% {
    width: 0%;
  }

  100% {
    width: 4%;
  }
}


.progress-bar-inner.p5.animated {
   animation: auto-progress-p5 3s infinite linear; 
}

@keyframes auto-progress-p5 {
  0% {
    width: 0%;
  }

  100% {
    width: 5%;
  }
}


.progress-bar-inner.p6.animated {
   animation: auto-progress-p6 3s infinite linear; 
}

@keyframes auto-progress-p6 {
  0% {
    width: 0%;
  }

  100% {
    width: 6%;
  }
}


.progress-bar-inner.p7.animated {
   animation: auto-progress-p7 3s infinite linear; 
}

@keyframes auto-progress-p7 {
  0% {
    width: 0%;
  }

  100% {
    width: 7%;
  }
}


.progress-bar-inner.p8.animated {
   animation: auto-progress-p8 3s infinite linear; 
}

@keyframes auto-progress-p8 {
  0% {
    width: 0%;
  }

  100% {
    width: 8%;
  }
}


.progress-bar-inner.p9.animated {
   animation: auto-progress-p9 3s infinite linear; 
}

@keyframes auto-progress-p9 {
  0% {
    width: 0%;
  }

  100% {
    width: 9%;
  }
}


.progress-bar-inner.p10.animated {
   animation: auto-progress-p10 3s infinite linear; 
}

@keyframes auto-progress-p10 {
  0% {
    width: 0%;
  }

  100% {
    width: 10%;
  }
}


.progress-bar-inner.p11.animated {
   animation: auto-progress-p11 3s infinite linear; 
}

@keyframes auto-progress-p11 {
  0% {
    width: 0%;
  }

  100% {
    width: 11%;
  }
}


.progress-bar-inner.p12.animated {
   animation: auto-progress-p12 3s infinite linear; 
}

@keyframes auto-progress-p12 {
  0% {
    width: 0%;
  }

  100% {
    width: 12%;
  }
}


.progress-bar-inner.p13.animated {
   animation: auto-progress-p13 3s infinite linear; 
}

@keyframes auto-progress-p13 {
  0% {
    width: 0%;
  }

  100% {
    width: 13%;
  }
}


.progress-bar-inner.p14.animated {
   animation: auto-progress-p14 3s infinite linear; 
}

@keyframes auto-progress-p14 {
  0% {
    width: 0%;
  }

  100% {
    width: 14%;
  }
}


.progress-bar-inner.p15.animated {
   animation: auto-progress-p15 3s infinite linear; 
}

@keyframes auto-progress-p15 {
  0% {
    width: 0%;
  }

  100% {
    width: 15%;
  }
}


.progress-bar-inner.p16.animated {
   animation: auto-progress-p16 3s infinite linear; 
}

@keyframes auto-progress-p16 {
  0% {
    width: 0%;
  }

  100% {
    width: 16%;
  }
}


.progress-bar-inner.p17.animated {
   animation: auto-progress-p17 3s infinite linear; 
}

@keyframes auto-progress-p17 {
  0% {
    width: 0%;
  }

  100% {
    width: 17%;
  }
}


.progress-bar-inner.p18.animated {
   animation: auto-progress-p18 3s infinite linear; 
}

@keyframes auto-progress-p18 {
  0% {
    width: 0%;
  }

  100% {
    width: 18%;
  }
}


.progress-bar-inner.p19.animated {
   animation: auto-progress-p19 3s infinite linear; 
}

@keyframes auto-progress-p19 {
  0% {
    width: 0%;
  }

  100% {
    width: 19%;
  }
}


.progress-bar-inner.p20.animated {
   animation: auto-progress-p20 3s infinite linear; 
}

@keyframes auto-progress-p20 {
  0% {
    width: 0%;
  }

  100% {
    width: 20%;
  }
}


.progress-bar-inner.p21.animated {
   animation: auto-progress-p21 3s infinite linear; 
}

@keyframes auto-progress-p21 {
  0% {
    width: 0%;
  }

  100% {
    width: 21%;
  }
}


.progress-bar-inner.p22.animated {
   animation: auto-progress-p22 3s infinite linear; 
}

@keyframes auto-progress-p22 {
  0% {
    width: 0%;
  }

  100% {
    width: 22%;
  }
}


.progress-bar-inner.p23.animated {
   animation: auto-progress-p23 3s infinite linear; 
}

@keyframes auto-progress-p23 {
  0% {
    width: 0%;
  }

  100% {
    width: 23%;
  }
}


.progress-bar-inner.p24.animated {
   animation: auto-progress-p24 3s infinite linear; 
}

@keyframes auto-progress-p24 {
  0% {
    width: 0%;
  }

  100% {
    width: 24%;
  }
}


.progress-bar-inner.p25.animated {
   animation: auto-progress-p25 3s infinite linear; 
}

@keyframes auto-progress-p25 {
  0% {
    width: 0%;
  }

  100% {
    width: 25%;
  }
}


.progress-bar-inner.p26.animated {
   animation: auto-progress-p26 3s infinite linear; 
}

@keyframes auto-progress-p26 {
  0% {
    width: 0%;
  }

  100% {
    width: 26%;
  }
}


.progress-bar-inner.p27.animated {
   animation: auto-progress-p27 3s infinite linear; 
}

@keyframes auto-progress-p27 {
  0% {
    width: 0%;
  }

  100% {
    width: 27%;
  }
}


.progress-bar-inner.p28.animated {
   animation: auto-progress-p28 3s infinite linear; 
}

@keyframes auto-progress-p28 {
  0% {
    width: 0%;
  }

  100% {
    width: 28%;
  }
}


.progress-bar-inner.p29.animated {
   animation: auto-progress-p29 3s infinite linear; 
}

@keyframes auto-progress-p29 {
  0% {
    width: 0%;
  }

  100% {
    width: 29%;
  }
}


.progress-bar-inner.p30.animated {
   animation: auto-progress-p30 3s infinite linear; 
}

@keyframes auto-progress-p30 {
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}


.progress-bar-inner.p31.animated {
   animation: auto-progress-p31 3s infinite linear; 
}

@keyframes auto-progress-p31 {
  0% {
    width: 0%;
  }

  100% {
    width: 31%;
  }
}


.progress-bar-inner.p32.animated {
   animation: auto-progress-p32 3s infinite linear; 
}

@keyframes auto-progress-p32 {
  0% {
    width: 0%;
  }

  100% {
    width: 32%;
  }
}


.progress-bar-inner.p33.animated {
   animation: auto-progress-p33 3s infinite linear; 
}

@keyframes auto-progress-p33 {
  0% {
    width: 0%;
  }

  100% {
    width: 33%;
  }
}


.progress-bar-inner.p34.animated {
   animation: auto-progress-p34 3s infinite linear; 
}

@keyframes auto-progress-p34 {
  0% {
    width: 0%;
  }

  100% {
    width: 34%;
  }
}


.progress-bar-inner.p35.animated {
   animation: auto-progress-p35 3s infinite linear; 
}

@keyframes auto-progress-p35 {
  0% {
    width: 0%;
  }

  100% {
    width: 35%;
  }
}


.progress-bar-inner.p36.animated {
   animation: auto-progress-p36 3s infinite linear; 
}

@keyframes auto-progress-p36 {
  0% {
    width: 0%;
  }

  100% {
    width: 36%;
  }
}


.progress-bar-inner.p37.animated {
   animation: auto-progress-p37 3s infinite linear; 
}

@keyframes auto-progress-p37 {
  0% {
    width: 0%;
  }

  100% {
    width: 37%;
  }
}


.progress-bar-inner.p38.animated {
   animation: auto-progress-p38 3s infinite linear; 
}

@keyframes auto-progress-p38 {
  0% {
    width: 0%;
  }

  100% {
    width: 38%;
  }
}


.progress-bar-inner.p39.animated {
   animation: auto-progress-p39 3s infinite linear; 
}

@keyframes auto-progress-p39 {
  0% {
    width: 0%;
  }

  100% {
    width: 39%;
  }
}


.progress-bar-inner.p40.animated {
   animation: auto-progress-p40 3s infinite linear; 
}

@keyframes auto-progress-p40 {
  0% {
    width: 0%;
  }

  100% {
    width: 40%;
  }
}


.progress-bar-inner.p41.animated {
   animation: auto-progress-p41 3s infinite linear; 
}

@keyframes auto-progress-p41 {
  0% {
    width: 0%;
  }

  100% {
    width: 41%;
  }
}


.progress-bar-inner.p42.animated {
   animation: auto-progress-p42 3s infinite linear; 
}

@keyframes auto-progress-p42 {
  0% {
    width: 0%;
  }

  100% {
    width: 42%;
  }
}


.progress-bar-inner.p43.animated {
   animation: auto-progress-p43 3s infinite linear; 
}

@keyframes auto-progress-p43 {
  0% {
    width: 0%;
  }

  100% {
    width: 43%;
  }
}


.progress-bar-inner.p44.animated {
   animation: auto-progress-p44 3s infinite linear; 
}

@keyframes auto-progress-p44 {
  0% {
    width: 0%;
  }

  100% {
    width: 44%;
  }
}


.progress-bar-inner.p45.animated {
   animation: auto-progress-p45 3s infinite linear; 
}

@keyframes auto-progress-p45 {
  0% {
    width: 0%;
  }

  100% {
    width: 45%;
  }
}


.progress-bar-inner.p46.animated {
   animation: auto-progress-p46 3s infinite linear; 
}

@keyframes auto-progress-p46 {
  0% {
    width: 0%;
  }

  100% {
    width: 46%;
  }
}


.progress-bar-inner.p47.animated {
   animation: auto-progress-p47 3s infinite linear; 
}

@keyframes auto-progress-p47 {
  0% {
    width: 0%;
  }

  100% {
    width: 47%;
  }
}


.progress-bar-inner.p48.animated {
   animation: auto-progress-p48 3s infinite linear; 
}

@keyframes auto-progress-p48 {
  0% {
    width: 0%;
  }

  100% {
    width: 48%;
  }
}


.progress-bar-inner.p49.animated {
   animation: auto-progress-p49 3s infinite linear; 
}

@keyframes auto-progress-p49 {
  0% {
    width: 0%;
  }

  100% {
    width: 49%;
  }
}


.progress-bar-inner.p50.animated {
   animation: auto-progress-p50 3s infinite linear; 
}

@keyframes auto-progress-p50 {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}


.progress-bar-inner.p51.animated {
   animation: auto-progress-p51 3s infinite linear; 
}

@keyframes auto-progress-p51 {
  0% {
    width: 0%;
  }

  100% {
    width: 51%;
  }
}


.progress-bar-inner.p52.animated {
   animation: auto-progress-p52 3s infinite linear; 
}

@keyframes auto-progress-p52 {
  0% {
    width: 0%;
  }

  100% {
    width: 52%;
  }
}


.progress-bar-inner.p53.animated {
   animation: auto-progress-p53 3s infinite linear; 
}

@keyframes auto-progress-p53 {
  0% {
    width: 0%;
  }

  100% {
    width: 53%;
  }
}


.progress-bar-inner.p54.animated {
   animation: auto-progress-p54 3s infinite linear; 
}

@keyframes auto-progress-p54 {
  0% {
    width: 0%;
  }

  100% {
    width: 54%;
  }
}


.progress-bar-inner.p55.animated {
   animation: auto-progress-p55 3s infinite linear; 
}

@keyframes auto-progress-p55 {
  0% {
    width: 0%;
  }

  100% {
    width: 55%;
  }
}


.progress-bar-inner.p56.animated {
   animation: auto-progress-p56 3s infinite linear; 
}

@keyframes auto-progress-p56 {
  0% {
    width: 0%;
  }

  100% {
    width: 56%;
  }
}


.progress-bar-inner.p57.animated {
   animation: auto-progress-p57 3s infinite linear; 
}

@keyframes auto-progress-p57 {
  0% {
    width: 0%;
  }

  100% {
    width: 57%;
  }
}


.progress-bar-inner.p58.animated {
   animation: auto-progress-p58 3s infinite linear; 
}

@keyframes auto-progress-p58 {
  0% {
    width: 0%;
  }

  100% {
    width: 58%;
  }
}


.progress-bar-inner.p59.animated {
   animation: auto-progress-p59 3s infinite linear; 
}

@keyframes auto-progress-p59 {
  0% {
    width: 0%;
  }

  100% {
    width: 59%;
  }
}


.progress-bar-inner.p60.animated {
   animation: auto-progress-p60 3s infinite linear; 
}

@keyframes auto-progress-p60 {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}


.progress-bar-inner.p61.animated {
   animation: auto-progress-p61 3s infinite linear; 
}

@keyframes auto-progress-p61 {
  0% {
    width: 0%;
  }

  100% {
    width: 61%;
  }
}


.progress-bar-inner.p62.animated {
   animation: auto-progress-p62 3s infinite linear; 
}

@keyframes auto-progress-p62 {
  0% {
    width: 0%;
  }

  100% {
    width: 62%;
  }
}


.progress-bar-inner.p63.animated {
   animation: auto-progress-p63 3s infinite linear; 
}

@keyframes auto-progress-p63 {
  0% {
    width: 0%;
  }

  100% {
    width: 63%;
  }
}


.progress-bar-inner.p64.animated {
   animation: auto-progress-p64 3s infinite linear; 
}

@keyframes auto-progress-p64 {
  0% {
    width: 0%;
  }

  100% {
    width: 64%;
  }
}


.progress-bar-inner.p65.animated {
   animation: auto-progress-p65 3s infinite linear; 
}

@keyframes auto-progress-p65 {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}


.progress-bar-inner.p66.animated {
   animation: auto-progress-p66 3s infinite linear; 
}

@keyframes auto-progress-p66 {
  0% {
    width: 0%;
  }

  100% {
    width: 66%;
  }
}


.progress-bar-inner.p67.animated {
   animation: auto-progress-p67 3s infinite linear; 
}

@keyframes auto-progress-p67 {
  0% {
    width: 0%;
  }

  100% {
    width: 67%;
  }
}


.progress-bar-inner.p68.animated {
   animation: auto-progress-p68 3s infinite linear; 
}

@keyframes auto-progress-p68 {
  0% {
    width: 0%;
  }

  100% {
    width: 68%;
  }
}


.progress-bar-inner.p69.animated {
   animation: auto-progress-p69 3s infinite linear; 
}

@keyframes auto-progress-p69 {
  0% {
    width: 0%;
  }

  100% {
    width: 69%;
  }
}


.progress-bar-inner.p70.animated {
   animation: auto-progress-p70 3s infinite linear; 
}

@keyframes auto-progress-p70 {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}


.progress-bar-inner.p71.animated {
   animation: auto-progress-p71 3s infinite linear; 
}

@keyframes auto-progress-p71 {
  0% {
    width: 0%;
  }

  100% {
    width: 71%;
  }
}


.progress-bar-inner.p72.animated {
   animation: auto-progress-p72 3s infinite linear; 
}

@keyframes auto-progress-p72 {
  0% {
    width: 0%;
  }

  100% {
    width: 72%;
  }
}


.progress-bar-inner.p73.animated {
   animation: auto-progress-p73 3s infinite linear; 
}

@keyframes auto-progress-p73 {
  0% {
    width: 0%;
  }

  100% {
    width: 73%;
  }
}


.progress-bar-inner.p74.animated {
   animation: auto-progress-p74 3s infinite linear; 
}

@keyframes auto-progress-p74 {
  0% {
    width: 0%;
  }

  100% {
    width: 74%;
  }
}


.progress-bar-inner.p75.animated {
   animation: auto-progress-p75 3s infinite linear; 
}

@keyframes auto-progress-p75 {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}


.progress-bar-inner.p76.animated {
   animation: auto-progress-p76 3s infinite linear; 
}

@keyframes auto-progress-p76 {
  0% {
    width: 0%;
  }

  100% {
    width: 76%;
  }
}


.progress-bar-inner.p77.animated {
   animation: auto-progress-p77 3s infinite linear; 
}

@keyframes auto-progress-p77 {
  0% {
    width: 0%;
  }

  100% {
    width: 77%;
  }
}


.progress-bar-inner.p78.animated {
   animation: auto-progress-p78 3s infinite linear; 
}

@keyframes auto-progress-p78 {
  0% {
    width: 0%;
  }

  100% {
    width: 78%;
  }
}


.progress-bar-inner.p79.animated {
   animation: auto-progress-p79 3s infinite linear; 
}

@keyframes auto-progress-p79 {
  0% {
    width: 0%;
  }

  100% {
    width: 79%;
  }
}


.progress-bar-inner.p80.animated {
   animation: auto-progress-p80 3s infinite linear; 
}

@keyframes auto-progress-p80 {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}


.progress-bar-inner.p81.animated {
   animation: auto-progress-p81 3s infinite linear; 
}

@keyframes auto-progress-p81 {
  0% {
    width: 0%;
  }

  100% {
    width: 81%;
  }
}


.progress-bar-inner.p82.animated {
   animation: auto-progress-p82 3s infinite linear; 
}

@keyframes auto-progress-p82 {
  0% {
    width: 0%;
  }

  100% {
    width: 82%;
  }
}


.progress-bar-inner.p83.animated {
   animation: auto-progress-p83 3s infinite linear; 
}

@keyframes auto-progress-p83 {
  0% {
    width: 0%;
  }

  100% {
    width: 83%;
  }
}


.progress-bar-inner.p84.animated {
   animation: auto-progress-p84 3s infinite linear; 
}

@keyframes auto-progress-p84 {
  0% {
    width: 0%;
  }

  100% {
    width: 84%;
  }
}


.progress-bar-inner.p85.animated {
   animation: auto-progress-p85 3s infinite linear; 
}

@keyframes auto-progress-p85 {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}


.progress-bar-inner.p86.animated {
   animation: auto-progress-p86 3s infinite linear; 
}

@keyframes auto-progress-p86 {
  0% {
    width: 0%;
  }

  100% {
    width: 86%;
  }
}


.progress-bar-inner.p87.animated {
   animation: auto-progress-p87 3s infinite linear; 
}

@keyframes auto-progress-p87 {
  0% {
    width: 0%;
  }

  100% {
    width: 87%;
  }
}


.progress-bar-inner.p88.animated {
   animation: auto-progress-p88 3s infinite linear; 
}

@keyframes auto-progress-p88 {
  0% {
    width: 0%;
  }

  100% {
    width: 88%;
  }
}


.progress-bar-inner.p89.animated {
   animation: auto-progress-p89 3s infinite linear; 
}

@keyframes auto-progress-p89 {
  0% {
    width: 0%;
  }

  100% {
    width: 89%;
  }
}


.progress-bar-inner.p90.animated {
   animation: auto-progress-p90 3s infinite linear; 
}

@keyframes auto-progress-p90 {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}


.progress-bar-inner.p91.animated {
   animation: auto-progress-p91 3s infinite linear; 
}

@keyframes auto-progress-p91 {
  0% {
    width: 0%;
  }

  100% {
    width: 91%;
  }
}


.progress-bar-inner.p92.animated {
   animation: auto-progress-p92 3s infinite linear; 
}

@keyframes auto-progress-p92 {
  0% {
    width: 0%;
  }

  100% {
    width: 92%;
  }
}


.progress-bar-inner.p93.animated {
   animation: auto-progress-p93 3s infinite linear; 
}

@keyframes auto-progress-p93 {
  0% {
    width: 0%;
  }

  100% {
    width: 93%;
  }
}


.progress-bar-inner.p94.animated {
   animation: auto-progress-p94 3s infinite linear; 
}

@keyframes auto-progress-p94 {
  0% {
    width: 0%;
  }

  100% {
    width: 94%;
  }
}


.progress-bar-inner.p95.animated {
   animation: auto-progress-p95 3s infinite linear; 
}

@keyframes auto-progress-p95 {
  0% {
    width: 0%;
  }

  100% {
    width: 95%;
  }
}


.progress-bar-inner.p96.animated {
   animation: auto-progress-p96 3s infinite linear; 
}

@keyframes auto-progress-p96 {
  0% {
    width: 0%;
  }

  100% {
    width: 96%;
  }
}


.progress-bar-inner.p97.animated {
   animation: auto-progress-p97 3s infinite linear; 
}

@keyframes auto-progress-p97 {
  0% {
    width: 0%;
  }

  100% {
    width: 97%;
  }
}

.progress-bar-inner.p98.animated {
   animation: auto-progress-p98 3s infinite linear; 
}

@keyframes auto-progress-p98 {
  0% {
    width: 0%;
  }

  100% {
    width: 98%;
  }
}

.progress-bar-inner.p99.animated {
   animation: auto-progress-p99 3s infinite linear; 
}

@keyframes auto-progress-p99 {
  0% {
    width: 0%;
  }

  100% {
    width: 99%;
  }
}

.progress-bar-inner.p100.animated {
   animation: auto-progress-p100 3s infinite linear; 
}

@keyframes auto-progress-p100 {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}